<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/template.genmodel"
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.model.VTTemplatePackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/alignmentStyle.genmodel"
            uri="http://www.eclipse.org/emf/ecp/view/template/style/alignment/model"
            class="org.eclipse.emf.ecp.view.template.style.alignment.model.VTAlignmentPackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/validationStyle.genmodel"
            uri="http://www.eclipse.org/emf/ecp/view/template/style/validation/model"
            class="org.eclipse.emf.ecp.view.template.style.validation.model.VTValidationPackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/domainModelReferenceSelector.genmodel"
            uri="http://www.eclipse.org/emf/ecp/view/template/selector/domainmodelreference/model"
            class="org.eclipse.emf.ecp.view.template.selector.domainmodelreference.model.VTDomainmodelreferencePackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/fontPropertiesStyle.genmodel"
            uri="http://www.eclipse.org/emf/ecp/view/template/style/fontProperties/model"
            class="org.eclipse.emf.ecp.view.template.style.fontProperties.model.VTFontPropertiesPackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/viewModelElementSelector.genmodel"
            uri="http://www.eclipse.org/emf/ecp/view/template/selector/viewmodelelement/model"
            class="org.eclipse.emf.ecp.view.template.selector.viewModelElement.model.VTViewModelElementPackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/tableValidationColumnStyleProperty.genmodel"
            uri="http://www.eclipse.org/emf/ecp/view/template/style/table/validation/model"
            class="org.eclipse.emf.ecp.view.template.style.tableValidation.model.VTTableValidationPackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/mandatoryStyle.genmodel"
            uri="http://www.eclipse.org/emf/ecp/view/template/style/mandatory/model"
            class="org.eclipse.emf.ecp.view.template.style.mandatory.model.VTMandatoryPackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/textControlEnablementStyle.genmodel"
            uri="http://www.eclipse.org/emf/ecp/view/template/style/textcontrol/enablement/model"
            class="org.eclipse.emf.ecp.view.template.style.textControlEnablement.model.VTTextControlEnablementPackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/backgroundStyle.genmodel"
            uri="http://www.eclipse.org/emf/ecp/view/template/style/background/model"
            class="org.eclipse.emf.ecp.view.template.style.background.model.VTBackgroundPackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/tabStyle.genmodel"
            uri="http://www.eclipse.org/emf/ecp/view/template/style/tab/model"
            class="org.eclipse.emf.ecp.view.template.style.tab.model.VTTabPackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/tableStyleProperty.genmodel"
            uri="http://www.eclipse.org/emf/ecp/view/template/style/table/model"
            class="org.eclipse.emf.ecp.view.template.style.tableStyleProperty.model.VTTableStylePropertyPackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/unsettableStyle.genmodel"
            uri="http://www.eclipse.org/emf/ecp/view/template/style/unsettable/model"
            class="org.eclipse.emf.ecp.view.template.style.unsettable.model.VTUnsettablePackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/labelWidthStyle.genmodel"
            uri="http://www.eclipse.org/emf/ecp/view/template/style/labelwidth/model"
            class="org.eclipse.emf.ecp.view.template.style.labelwidth.model.VTLabelwidthPackage">
      </package>
   </extension>

</plugin>
