<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://org/eclipse/emf/ecp/view/group/model"
            class="org.eclipse.emf.ecp.view.spi.group.model.provider.GroupItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://org/eclipse/emf/ecp/view/model/170"
            class="org.eclipse.emf.ecp.view.spi.group.model.provider.GroupItemProviderAdapterFactory$ViewChildCreationExtender"/>
   </extension>

</plugin>
