<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.emf.ecp.emfstore.provider"
         name="EMFStore Provider"
         point="org.eclipse.emf.ecp.ui.uiProviders">
      <uiProvider
            class="org.eclipse.emf.ecp.emfstore.internal.ui.EMFStoreUIProvider"
            provider="org.eclipse.emf.ecp.emfstore.provider">
      </uiProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.commit"
            name="commit">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.update"
            name="update">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.share"
            name="share">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.emfserverLogin"
            name="Login">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.emfserverLogout"
            name="Logout">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.undoLastOperation"
            name="Undo">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.revertAllOperations"
            name="Revert">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.showHistoryView"
            name="showHistoryView">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.deleteOnServer"
            name="Delete on Server">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView?after=additions">
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.share"
               icon="icons/arrow_out.png"
               label="Share"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.commit"
               icon="icons/checkin.gif"
               label="Commit"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.update"
               icon="icons/update.gif"
               label="Update"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.undoLastOperation"
               icon="icons/arrow_undo.png"
               label="Undo Last Operation"
               style="push"
               tooltip="Undo the last executed operation">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.navigator.exportModel"
                           property="org.eclipse.emf.ecp.ui.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.revertAllOperations"
               icon="icons/revert.png"
               label="Revert All Operations"
               style="push"
               tooltip="Reverts all operations since last commit">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.navigator.exportModel"
                           property="org.eclipse.emf.ecp.ui.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.showHistoryView"
               icon="icons/historyview.png"
               label="Show Historyview"
               style="push"
               tooltip="Shows the HistoryView">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.showHistoryView"
                           property="org.eclipse.emf.ecp.ui.workbench.menu.enablement"
                           value="true">
                     </test>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelRepositoriesView?after=additions">
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.emfserverLogin"
               icon="icons/serverLogin.png"
               label="Login"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <test
                           property="org.eclipse.emf.ecp.core.repository.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                           value="false">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.emfserverLogout"
               icon="icons/lock.png"
               label="Logout"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <test
                        property="org.eclipse.emf.ecp.core.repository.providerName"
                        value="org.eclipse.emf.ecp.emfstore.provider">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                        value="true">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.deleteOnServer"
               icon="icons/database_delete.png"
               label="Delete on server"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                        value="true">
                  </test>
                  <instanceof
                        value="org.eclipse.emf.ecp.emfstore.core.internal.EMFStoreProjectWrapper">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.CommitProjectHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.commit">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.isShared"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.ShareProjectHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.share">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.emf.ecp.core.closeable.open"
                        value="true">
                  </test>
                  <test
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.isShared"
                        value="false">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.UpdateProjectHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.update">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.isShared"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.EmfstoreLogOutHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.emfserverLogout">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.EmfstoreLogInHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.emfserverLogin">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.UndoLastOperationHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.undoLastOperation">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.emf.ecp.core.closeable.open"
                        value="true">
                  </test>
                  <test
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.canUndo"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.RevertAllOperationsHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.revertAllOperations">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.emf.ecp.core.closeable.open"
                        value="true">
                  </test>
                  <test
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.canUndo"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.ShowHistoryHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.showHistoryView">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.isShared"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.DeleteOnServerHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.deleteOnServer">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.eclipse.emf.ecp.emfstore.internal.ui.decorator.EMFStoreUnsharedDecorator"
            id="org.eclipse.emf.ecp.emfstore.ui.decorators.EMFStoreUnsharedDecorator"
            label="EMFStoreUnshared Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.emf.ecp.core.ECPProject">
            </objectClass>
         </enablement>
         <description>
            If the project is not shared.
         </description>
      </decorator>
      <decorator
            adaptable="true"
            class="org.eclipse.emf.ecp.emfstore.internal.ui.decorator.EMFStoreDirtyDecorator"
            id="org.eclipse.emf.ecp.emfstore.ui.decorators.EMFStoreDirtyDecorator"
            label="EMFStoreDirty Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="org.eclipse.emf.ecp.core.ECPProject">
               </objectClass>
               <objectClass
                     name="org.eclipse.emf.ecore.EObject">
               </objectClass>
            </or>
         </enablement>
         <description>
            If the porject has local changes.
         </description>
      </decorator>
      <decorator
           adaptable="true"
           class="org.eclipse.emf.ecp.emfstore.internal.ui.decorator.RepositoryViewLabelDecorator"
           id="org.eclipse.emf.ecp.emfstore.ui.decorators.LoginDecorator"
           label="Login Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.eclipse.emf.ecp.core.ECPRepository">
           </objectClass>
        </enablement>
     </decorator>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreIsLoggedInTester"
            id="org.eclipse.emf.ecp.emfstore.ui.testers.emfstoreIsLoggedIn"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="emfserverIsLoggedIn"
            type="org.eclipse.emf.ecp.core.ECPRepository">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreProjectIsShared"
            id="org.eclipse.emf.ecp.emfstore.ui.shared"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="isShared"
            type="org.eclipse.emf.ecp.core.ECPProject">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreIsServerAdminTester"
            id="org.eclipse.emf.ecp.emfstore.ui.isServerAdmin"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="isServerAdmin"
            type="org.eclipse.emf.ecp.emfstore.core.internal.EMFStoreProjectWrapper">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreProjectCanUndoTester"
            id="org.eclipse.emf.ecp.emfstore.ui.canUndo"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="canUndo"
            type="org.eclipse.emf.ecp.core.ECPProject">
      </propertyTester>
   </extension>
	<extension
         point="org.eclipse.emf.emfstore.client.loginObserver">
      <observer
            loginObserver="org.eclipse.emf.ecp.emfstore.internal.ui.decorator.RepositoryViewLabelDecorator">
      </observer>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.client.logoutObserver">
      <observer
            logoutObserver="org.eclipse.emf.ecp.emfstore.internal.ui.decorator.RepositoryViewLabelDecorator">
      </observer>
   </extension> <extension
         point="org.eclipse.emf.emfstore.client.commitObserver">
      <observer
            commitObserver="org.eclipse.emf.ecp.emfstore.internal.ui.decorator.EMFStoreDirtyDecorator">
      </observer>
   </extension>
</plugin>
