<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.emf.ecp.emfstore.provider"
         name="EMFStore Provider"
         point="org.eclipse.emf.ecp.ui.uiProviders">
      <uiProvider
            class="org.eclipse.emf.ecp.emfstore.internal.ui.EMFStoreUIProvider"
            provider="org.eclipse.emf.ecp.emfstore.provider">
      </uiProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.commit"
            name="commit">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.update"
            name="update">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.share"
            name="share">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.emfserverLogin"
            name="Login">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.emfserverLogout"
            name="Logout">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.undoLastOperation"
            name="Undo">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.revertAllOperations"
            name="Revert">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.showHistoryView"
            name="showHistoryView">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.deleteOnServer"
            name="Delete on Server">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.branchCreate"
            name="create branch">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.branchMerge"
            name="merge branch">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.updateToVersion"
            name="update to version">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.branchCheckout"
            name="checkout branch">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.manageUserGroups"
            name="manage user/groups">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.emfserverRegisterEPackage"
            name="Register EPackage">
      </command>
      <command
            id="org.eclipse.emf.ecp.emfstore.ui.emfserverCreateRemoteProject"
            name="Create Remote Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView?after=org.eclipse.emf.ecp.ui.separatorProvider">
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.share"
               icon="icons/arrow_out.png"
               label="Share"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.commit"
               icon="icons/checkin.gif"
               label="Commit"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.update"
               icon="icons/arrow_up.png"
               label="Update"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.undoLastOperation"
               icon="icons/arrow_undo.png"
               label="Undo Last Operation"
               style="push"
               tooltip="Undo the last executed operation">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.navigator.exportModel"
                           property="org.eclipse.emf.ecp.ui.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.revertAllOperations"
               icon="icons/revert.png"
               label="Revert All Operations"
               style="push"
               tooltip="Reverts all operations since last commit">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.navigator.exportModel"
                           property="org.eclipse.emf.ecp.ui.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.showHistoryView"
               icon="icons/historyview.png"
               label="Show Historyview"
               style="push"
               tooltip="Shows the HistoryView">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.showHistoryView"
                           property="org.eclipse.emf.ecp.ui.workbench.menu.enablement"
                           value="true">
                     </test>
                     <test
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.hasHistory"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.branchCreate"
               icon="icons/arrow_branch.png"
               label="Create Branch"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.branchMerge"
               icon="icons/arrow_merge.png"
               label="Merge with Branch"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.updateToVersion"
               icon="icons/arrow_up.png"
               label="Update to version..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelRepositoriesView?after=additions">
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.emfserverLogin"
               icon="icons/serverLogin.png"
               label="Login"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           property="org.eclipse.emf.ecp.core.repository.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                           value="false">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.emfserverLogout"
               icon="icons/lock.png"
               label="Logout"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           property="org.eclipse.emf.ecp.core.repository.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.deleteOnServer"
               icon="icons/database_delete.png"
               label="Delete on server"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                           value="true">
                     </test>
                     <instanceof
                           value="org.eclipse.emf.ecp.emfstore.core.internal.EMFStoreProjectWrapper">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.branchCheckout"
               label="Checkout Branch..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.ecp.emfstore.core.internal.EMFStoreProjectWrapper">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.manageUserGroups"
               icon="icons/user_edit.png"
               label="Manage Users/Groups..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           property="org.eclipse.emf.ecp.core.repository.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                           value="true">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.emfserverRegisterEPackage"
               icon="icons/arrow_up.png"
               label="Register EPackage"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           property="org.eclipse.emf.ecp.core.repository.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                           value="true">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.emfstore.ui.emfserverCreateRemoteProject"
               icon="icons/projectAdd.png"
               label="Create new project..."
               style="push"
               tooltip="Creates a new project on the server">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           property="org.eclipse.emf.ecp.core.repository.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                           value="true">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.CommitProjectHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.commit">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <test
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.elementShared"
                        value="true">
                  </test>
                  <test
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.isDirty"
                        value="true">
                  </test>
                  <test
                        property="org.eclipse.emf.ecp.core.closeable.open"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.ShareProjectHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.share">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <test
                        property="org.eclipse.emf.ecp.core.closeable.open"
                        value="true">
                  </test>
                  <test
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.elementShared"
                        value="false">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.UpdateProjectHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.update">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.elementShared"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.EmfstoreLogOutHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.emfserverLogout">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.EmfstoreLogInHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.emfserverLogin">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.UndoLastOperationHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.undoLastOperation">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.emf.ecp.core.closeable.open"
                        value="true">
                  </test>
                  <test
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.isDirty"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.RevertAllOperationsHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.revertAllOperations">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.emf.ecp.core.closeable.open"
                        value="true">
                  </test>
                  <test
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.isDirty"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.ShowHistoryHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.showHistoryView">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.elementShared"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.DeleteOnServerHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.deleteOnServer">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.CreateBranchHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.branchCreate">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.elementShared"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.MergeBranchHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.branchMerge">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.elementShared"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.UpdateProjectToVersionHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.updateToVersion">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.elementShared"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.CheckoutBranchHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.branchCheckout">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.ManagerUserGroupHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.manageUserGroups">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.RegisterEPackageHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.emfserverRegisterEPackage">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.emfstore.internal.ui.handler.CreateRemoteProjectHandler"
            commandId="org.eclipse.emf.ecp.emfstore.ui.emfserverCreateRemoteProject">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.eclipse.emf.ecp.emfstore.internal.ui.decorator.EMFStoreUnsharedDecorator"
            id="org.eclipse.emf.ecp.emfstore.ui.decorators.EMFStoreUnsharedDecorator"
            label="EMFStoreUnshared Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.emf.ecp.core.ECPProject">
            </objectClass>
         </enablement>
         <description>
            If the project is not shared.
         </description>
      </decorator>
      <decorator
            adaptable="true"
            class="org.eclipse.emf.ecp.emfstore.internal.ui.decorator.ProjectEMFStoreDirtyDecorator"
            id="org.eclipse.emf.ecp.emfstore.ui.decorators.EMFStoreDirtyDecorator"
            label="EMFStoreDirty Decorator"
            lightweight="true"
            state="true">
         <enablement>
               <objectClass
                     name="org.eclipse.emf.ecp.core.ECPProject">
               </objectClass>
         </enablement>
         <description>
            If the porject has local changes.
         </description>
      </decorator>
      <decorator
           adaptable="true"
           class="org.eclipse.emf.ecp.emfstore.internal.ui.decorator.RepositoryViewLabelDecorator"
           id="org.eclipse.emf.ecp.emfstore.ui.decorators.LoginDecorator"
           label="Login Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.eclipse.emf.ecp.core.ECPRepository">
           </objectClass>
        </enablement>
     </decorator>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreIsLoggedInTester"
            id="org.eclipse.emf.ecp.emfstore.ui.testers.emfstoreIsLoggedIn"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="emfserverIsLoggedIn"
            type="org.eclipse.emf.ecp.core.ECPRepository">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreElementIsShared"
            id="org.eclipse.emf.ecp.emfstore.ui.elementShared"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="elementShared"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreIsServerAdminTester"
            id="org.eclipse.emf.ecp.emfstore.ui.isServerAdmin"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="isServerAdmin"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreProjectIsDirtyTester"
            id="org.eclipse.emf.ecp.emfstore.ui.isDirty"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="isDirty"
            type="org.eclipse.emf.ecp.core.ECPProject">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreHistoryAvailable"
            id="org.eclipse.emf.ecp.emfstore.ui.hasHistory"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="hasHistory"
            type="java.lang.Object">
      </propertyTester>
   </extension>
	<extension
         point="org.eclipse.emf.emfstore.client.loginObserver">
      <observer
            loginObserver="org.eclipse.emf.ecp.emfstore.internal.ui.decorator.RepositoryViewLabelDecorator">
      </observer>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.client.logoutObserver">
      <observer
            logoutObserver="org.eclipse.emf.ecp.emfstore.internal.ui.decorator.RepositoryViewLabelDecorator">
      </observer>
   </extension> <extension
         point="org.eclipse.emf.emfstore.client.commitObserver">
      <observer
            commitObserver="org.eclipse.emf.ecp.emfstore.internal.ui.decorator.EMFStoreDirtyDecorator">
      </observer>
   </extension>
</plugin>
