<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.ui.newWizards">
      <category
            name="EMF Forms"
            parentCategory="org.eclipse.ui.Examples"
            id="org.eclipse.emf.ecp.makeithappen.wizards.EMFForms">
      </category>
      <wizard
            name="Make it happen: example model"
            canFinishEarly="true"
            icon="icons/emf_forms_icon.png"
            category="org.eclipse.ui.Examples/org.eclipse.emf.ecp.makeithappen.wizards.EMFForms"
            class="org.eclipse.emf.ecp.makeithappen.internal.wizards.MakeItHappenWizard"
            project="true"
            id="org.eclipse.emf.ecp.makeithappen.wizards.ExampleModelWizard">
      </wizard>
      <wizard
            name="Make it happen: custom control renderer"
            canFinishEarly="true"
            icon="icons/emf_forms_icon.png"
            category="org.eclipse.ui.Examples/org.eclipse.emf.ecp.makeithappen.wizards.EMFForms"
            class="org.eclipse.emf.ecp.makeithappen.internal.wizards.MakeItHappenWizard"
            project="true"
            id="org.eclipse.emf.ecp.makeithappen.wizards.CustomControlRendererWizard">
      </wizard>
      <wizard
            name="Make it happen: custom group renderer"
            canFinishEarly="true"
            icon="icons/emf_forms_icon.png"
            category="org.eclipse.ui.Examples/org.eclipse.emf.ecp.makeithappen.wizards.EMFForms"
            class="org.eclipse.emf.ecp.makeithappen.internal.wizards.MakeItHappenWizard"
            project="true"
            id="org.eclipse.emf.ecp.makeithappen.wizards.CustomGroupRendererWizard">
      </wizard>
      <wizard
            name="Make it happen: view model"
            canFinishEarly="true"
            icon="icons/emf_forms_icon.png"
            category="org.eclipse.ui.Examples/org.eclipse.emf.ecp.makeithappen.wizards.EMFForms"
            class="org.eclipse.emf.ecp.makeithappen.internal.wizards.MakeItHappenWizard"
            project="true"
            id="org.eclipse.emf.ecp.makeithappen.wizards.ViewModelWizard">
      </wizard>
      <wizard
            name="Make it happen: sample e3 application"
            canFinishEarly="true"
            icon="icons/emf_forms_icon.png"
            category="org.eclipse.ui.Examples/org.eclipse.emf.ecp.makeithappen.wizards.EMFForms"
            class="org.eclipse.emf.ecp.makeithappen.internal.wizards.MakeItHappenWizard"
            project="true"
            id="org.eclipse.emf.ecp.makeithappen.wizards.e3.ExampleApplicationWizard">
      </wizard>
      <wizard
            name="Make it happen: sample e4 application"
            canFinishEarly="true"
            icon="icons/emf_forms_icon.png"
            category="org.eclipse.ui.Examples/org.eclipse.emf.ecp.makeithappen.wizards.EMFForms"
            class="org.eclipse.emf.ecp.makeithappen.internal.wizards.MakeItHappenWizard"
            project="true"
            id="org.eclipse.emf.ecp.makeithappen.wizards.e4.ExampleApplicationWizard">
      </wizard>
      <wizard
            name="Make it happen: sample RAP application"
            icon="icons/emf_forms_icon.png"
            category="org.eclipse.ui.Examples/org.eclipse.emf.ecp.makeithappen.wizards.EMFForms"
            class="org.eclipse.emf.ecp.makeithappen.internal.wizards.MakeItHappenWizard"
            id="org.eclipse.emf.ecp.makeithappen.wizards.rap.ExampleApplicationWizard">
      </wizard>
      <wizard
            name="Make it happen: sample J2EE RAP application"
            icon="icons/emf_forms_icon.png"
            category="org.eclipse.ui.Examples/org.eclipse.emf.ecp.makeithappen.wizards.EMFForms"
            class="org.eclipse.emf.ecp.makeithappen.internal.wizards.MakeItHappenWizard"
            id="org.eclipse.emf.ecp.makeithappen.wizards.rap.j2ee.ExampleApplicationWizard">
      </wizard>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.common.ui.examples">
      <example
            wizardID="org.eclipse.emf.ecp.makeithappen.wizards.ExampleModelWizard"
            pageImage="icons/emf_forms_logo_56x48.png"
            id="org.eclipse.emf.ecp.makeithappen.wizards.ExampleModel">
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model/"
               name="org.eclipse.emf.ecp.makeithappen.model"
               description="Make It Happen model">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model.edit/"
               name="org.eclipse.emf.ecp.makeithappen.model.edit"
               description="Make It Happen model edit">
         </projectDescriptor>
      </example>
      <example
            wizardID="org.eclipse.emf.ecp.makeithappen.wizards.CustomControlRendererWizard"
            pageImage="icons/emf_forms_logo_56x48.png"
            id="org.eclipse.emf.ecp.makeithappen.wizards.CustomControlRenderer">
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model/"
               name="org.eclipse.emf.ecp.makeithappen.model"
               description="Make It Happen model">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model.edit/"
               name="org.eclipse.emf.ecp.makeithappen.model.edit"
               description="Make It Happen model edit">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.view.email.renderer/"
               name="org.eclipse.emf.ecp.makeithappen.view.email.renderer"
               description="Make It Happen custom control renderer">
         </projectDescriptor>
      </example>
      <example
            wizardID="org.eclipse.emf.ecp.makeithappen.wizards.CustomGroupRendererWizard"
            pageImage="icons/emf_forms_logo_56x48.png"
            id="org.eclipse.emf.ecp.makeithappen.wizards.CustomGroupRenderer">
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model/"
               name="org.eclipse.emf.ecp.makeithappen.model"
               description="Make It Happen model">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model.edit/"
               name="org.eclipse.emf.ecp.makeithappen.model.edit"
               description="Make It Happen model edit">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.view.group.renderer/"
               name="org.eclipse.emf.ecp.makeithappen.view.group.renderer"
               description="Make It Happen custom group renderer">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model.viewmodel/"
               description="Make It Happen viewmodel"
               name="org.eclipse.emf.ecp.makeithappen.model.viewmodel">
         </projectDescriptor>
      </example>
      <example
            wizardID="org.eclipse.emf.ecp.makeithappen.wizards.ViewModelWizard"
            pageImage="icons/emf_forms_logo_56x48.png"
            id="org.eclipse.emf.ecp.makeithappen.wizards.ViewModel">
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model/"
               name="org.eclipse.emf.ecp.makeithappen.model"
               description="Make It Happen model">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model.edit/"
               name="org.eclipse.emf.ecp.makeithappen.model.edit"
               description="Make It Happen model edit">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model.viewmodel/"
               name="org.eclipse.emf.ecp.makeithappen.model.viewmodel"
               description="Make It Happen viewmodel">
         </projectDescriptor>
      </example>
      <example
            wizardID="org.eclipse.emf.ecp.makeithappen.wizards.e3.ExampleApplicationWizard"
            pageImage="icons/emf_forms_logo_56x48.png"
            id="org.eclipse.emf.ecp.makeithappen.wizards.e3.ExampleApplication">
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model.viewmodel/"
               name="org.eclipse.emf.ecp.makeithappen.model.viewmodel"
               description="Make It Happen viewmodel">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.application.sample.e3/"
               name="org.eclipse.emf.ecp.makeithappen.application.sample.e3"
               description="Make It Happen e3 application">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model/"
               name="org.eclipse.emf.ecp.makeithappen.model"
               description="Make It Happen model">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model.edit/"
               name="org.eclipse.emf.ecp.makeithappen.model.edit"
               description="Make It Happen model edit">
         </projectDescriptor>
      </example>
      <example
            wizardID="org.eclipse.emf.ecp.makeithappen.wizards.e4.ExampleApplicationWizard"
            pageImage="icons/emf_forms_logo_56x48.png"
            id="org.eclipse.emf.ecp.makeithappen.wizards.e4.ExampleApplication">
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model.viewmodel/"
               name="org.eclipse.emf.ecp.makeithappen.model.viewmodel"
               description="Make It Happen viewmodel">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.application.sample.e4/"
               name="org.eclipse.emf.ecp.makeithappen.application.sample.e4"
               description="Make It Happen e4 application">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model/"
               name="org.eclipse.emf.ecp.makeithappen.model"
               description="Make It Happen model">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model.edit/"
               name="org.eclipse.emf.ecp.makeithappen.model.edit"
               description="Make It Happen model edit">
         </projectDescriptor>
      </example>
      <example
            wizardID="org.eclipse.emf.ecp.makeithappen.wizards.rap.ExampleApplicationWizard"
            pageImage="icons/emf_forms_logo_56x48.png"
            id="org.eclipse.emf.ecp.makeithappen.wizards.rap.ExampleApplication">
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.application.sample.rap/"
               name="org.eclipse.emf.ecp.makeithappen.application.sample.rap"
               description="Make It Happen RAP application">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model.viewmodel/"
               name="org.eclipse.emf.ecp.makeithappen.model.viewmodel"
               description="Make It Happen viewmodel">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model/"
               name="org.eclipse.emf.ecp.makeithappen.model"
               description="Make It Happen model">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model.edit/"
               name="org.eclipse.emf.ecp.makeithappen.model.edit"
               description="Make It Happen model edit">
         </projectDescriptor>
      </example>
      <example
            wizardID="org.eclipse.emf.ecp.makeithappen.wizards.rap.j2ee.ExampleApplicationWizard"
            pageImage="icons/emf_forms_logo_56x48.png"
            id="org.eclipse.emf.ecp.makeithappen.wizards.rap.j2ee.ExampleApplication">
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.application.sample.rap.j2ee/"
               name="org.eclipse.emf.ecp.makeithappen.application.sample.rap.j2ee"
               description="Make It Happen J2EE RAP application">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model.viewmodel/"
               name="org.eclipse.emf.ecp.makeithappen.model.viewmodel"
               description="Make It Happen viewmodel">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model/"
               name="org.eclipse.emf.ecp.makeithappen.model"
               description="Make It Happen model">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model.edit/"
               name="org.eclipse.emf.ecp.makeithappen.model.edit"
               description="Make It Happen model edit">
         </projectDescriptor>
      </example>
   </extension>

</plugin>
