<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.emf.ecp.ui.view.swt.renderers">
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.core.swt.renderer.ViewSWTRenderer">
         <staticTest
               element="org.eclipse.emf.ecp.view.spi.model.VView"
               priority="1">
         </staticTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.core.swt.renderer.ECPLegacyControlSWTRenderer">
         <staticTest
               element="org.eclipse.emf.ecp.view.spi.model.VControl"
               priority="1">
         </staticTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.core.swt.renderer.TextControlSWTRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.core.swt.renderer.TextControlSWTRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.core.swt.renderer.BooleanControlSWTRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.core.swt.renderer.BooleanControlSWTRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.core.swt.renderer.EnumComboViewerSWTRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.core.swt.renderer.EnumComboViewerSWTRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.core.swt.renderer.NumberControlSWTRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.core.swt.renderer.NumberControlSWTRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.core.swt.renderer.DateTimeControlSWTRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.core.swt.renderer.DateTimeControlSWTRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.core.swt.renderer.XMLDateControlSWTRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.core.swt.renderer.XMLDateControlSWTRendererTester">
         </dynamicTest>
      </renderer>
   </extension>
</plugin>
