<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.emf.ecp.ui.view.swt.renderers">
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.core.swt.renderer.SWTViewRenderer">
         <staticTest
               element="org.eclipse.emf.ecp.view.spi.model.VView"
               priority="1">
         </staticTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.core.swt.renderer.SWTLegacyControlRenderer">
         <staticTest
               element="org.eclipse.emf.ecp.view.spi.model.VControl"
               priority="1">
         </staticTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.core.swt.renderer.SWTTextControlRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.core.swt.renderer.SWTTextControlRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.core.swt.renderer.SWTBooleanControlRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.core.swt.renderer.SWTBooleanControlRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.core.swt.renderer.SWTEnumComboViewerRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.core.swt.renderer.SWTEnumControlRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.core.swt.renderer.SWTNumberControlRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.core.swt.renderer.SWTNumberControlRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.core.swt.renderer.SWTDateTimeControlRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.core.swt.renderer.SWTDateTimeControlRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.core.swt.renderer.SWTXMLDateControlRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.core.swt.renderer.SWTXMLDateControlRendererTester">
         </dynamicTest>
      </renderer>
   </extension>
</plugin>
