<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="viewModelBuilder"
         name="%viewmodelbuilder.extension.name"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.emfforms.ide.internal.builder.ViewModelBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="viewModelNature"
         name="%viewmodelnature.extension.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.emfforms.ide.internal.builder.ViewModelNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.emfforms.ide.builder.viewModelBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.emfforms.ide.builder.nature.category"
            name="%nature.command.category.name">
      </category>
      <command
            categoryId="org.eclipse.emfforms.ide.builder.nature.category"
            defaultHandler="org.eclipse.emfforms.ide.internal.builder.AddRemoveProjectNatureHandler"
            id="org.eclipse.emfforms.ide.builder.addRemoveNature"
            name="%addremovenature.command.name">
         <commandParameter
               id="natureID"
               name="%addremovenature.natureID.name">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               label="%removeviewmodelnature.command.label"
               commandId="org.eclipse.emfforms.ide.builder.addRemoveNature"
               style="push">
            <parameter
                  name="natureID"
                  value="org.eclipse.emfforms.ide.builder.viewModelNature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.emfforms.ide.builder.viewModelNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               label="%addviewmodelnature.command.label"
               commandId="org.eclipse.emfforms.ide.builder.addRemoveNature"
               style="push">
           <parameter
                 name="natureID"
                 value="org.eclipse.emfforms.ide.builder.viewModelNature">
           </parameter>
           <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.emfforms.ide.builder.viewModelNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="ViewModelProblem"
         name="%viewmodel.marker.extension.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.emfforms.ide.builder.ValidationProblem">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>


   <extension
         id="ValidationProblem"
         name="%validation.marker.extension.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="validationBuilder"
         name="%validationbuilder.extension.name"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.emfforms.ide.internal.builder.ValidationBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="validationNature"
         name="%validationnature.extension.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.emfforms.ide.internal.builder.ValidationNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.emfforms.ide.builder.validationBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               label="%removevalidationnature.command.label"
               commandId="org.eclipse.emfforms.ide.builder.addRemoveNature"
               style="push">
            <parameter
                  name="natureID"
                  value="org.eclipse.emfforms.ide.builder.validationNature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.emfforms.ide.builder.validationNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               label="%addvalidationnature.command.label"
               commandId="org.eclipse.emfforms.ide.builder.addRemoveNature"
               style="push">
           <parameter
                 name="natureID"
                 value="org.eclipse.emfforms.ide.builder.validationNature">
           </parameter>
           <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.emfforms.ide.builder.validationNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
