<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="viewModelBuilder"
         name="%viewmodelbuilder.extension.name"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.emfforms.ide.internal.builder.ViewModelBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="viewModelNature"
         name="%viewmodelnature.extension.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.emfforms.ide.internal.builder.ViewModelNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.emfforms.ide.builder.viewModelBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.emfforms.ide.builder.viewModelNature.category"
            name="%viewmodel.command.category.name">
      </category>
      <command
            categoryId="org.eclipse.emfforms.ide.builder.viewModelNature.category"
            defaultHandler="org.eclipse.emfforms.ide.internal.builder.AddRemoveViewModelNatureHandler"
            id="org.eclipse.emfforms.ide.builder.addRemoveViewModelNature"
            name="%addremoveviewmodelnature.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               label="%removeviewmodelnature.command.label"
               commandId="org.eclipse.emfforms.ide.builder.addRemoveViewModelNature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.emfforms.ide.builder.viewModelNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               label="%addviewmodelnature.command.label"
               commandId="org.eclipse.emfforms.ide.builder.addRemoveViewModelNature"
               style="push">
           <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.emfforms.ide.builder.viewModelNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="ViewModelProblem"
         name="%viewmodel.marker.extension.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
