<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="ECP Graphiti Type"
            type="org.eclipse.emf.ecp.graphiti.diagramType"
            id="org.eclipse.emf.ecp.graphiti.diagramType">
      </diagramType>
   </extension>
   <extension
         name=""
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            name="org.eclipse.emf.ecp.graphiti.diagramTypeProvider"
            class="org.eclipse.emf.ecp.graphiti.internal.integration.ECPDiagramTypeProvider"
            id="org.eclipse.emf.ecp.graphiti.diagramTypeProvider">
         <diagramType
               id="org.eclipse.emf.ecp.graphiti.diagramType">
         </diagramType>
         <imageProvider
               id="org.eclipse.emf.ecp.graphiti.integration.imageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         name=""
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView">
         <command
               commandId="org.eclipse.emf.ecp.graphiti.open"
               label="Open ECP Graphiti Editor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.emf.ecp.core.isProjectSingle">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         name=""
         point="org.eclipse.ui.editors">
      <editor
            name="ECP Graphiti Editor"
            default="false"
            class="org.eclipse.emf.ecp.graphiti.internal.integration.GenericECPGraphitiDiagramEditor"
            id="org.eclipse.emf.ecp.graphiti.editor">
      </editor>
   </extension>
   <extension
         name=""
         point="org.eclipse.ui.commands">
      <command
            name="Open ECP Graphiti Editor"
            id="org.eclipse.emf.ecp.graphiti.open">
      </command>
   </extension>
   <extension
         name=""
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.emf.ecp.graphiti.open"
            class="org.eclipse.emf.ecp.graphiti.internal.integration.OpenGraphitiEditorHandler">
      </handler>
   </extension>
   <extension
         name=""
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.eclipse.emf.ecp.graphiti.internal.integration.ECPImageProvider"
            id="org.eclipse.emf.ecp.graphiti.integration.imageProvider">
      </imageProvider>
   </extension>

</plugin>
