<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="RAPMobile" sequenceNumber="146">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.9.0.v20130220-1318"/>
<unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.9.0.v20130220-1318"/>
<repository location="http://download.eclipse.org/modeling/emf/emf/updates/2.9-I-builds"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.eclipsesource.tabris.feature.feature.group" version="1.0.0.201304151402"/>
<repository location="http://developer.eclipsesource.com/technology/tabris/downloads/releases"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.9.0.v20130318-0639"/>
<unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.9.0.v20130318-0639"/>
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="2.1.0.20130318-2137"/>
<unit id="org.eclipse.rap.feature.feature.group" version="2.1.0.20130318-2137"/>
<unit id="org.eclipse.emf.cdo.sdk.feature.group" version="4.2.0.v20130319-1649"/>
<unit id="org.eclipse.net4j.sdk.feature.group" version="4.2.0.v20130316-1201"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
</locations>
</target>
