<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="EMF Forms"
            parentCategory="org.eclipse.ui.Examples"
            id="org.eclipse.emfforms.example.common.wizards.EMFForms">
      </category>
   </extension>

</plugin>
