<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?><target name="ECP RCP" sequenceNumber="122">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.emfstore.ecp.feature.feature.group" version="0.9.3.M5"/>
<unit id="org.eclipse.emf.emfstore.ecore.feature.feature.group" version="0.9.3.M5"/>
<unit id="org.eclipse.emf.emfstore.server.feature.feature.group" version="0.9.3.M5"/>
<unit id="org.eclipse.emf.emfstore.client.feature.feature.group" version="0.9.3.M5"/>
<unit id="org.eclipse.emf.emfstore.perspective.feature.feature.group" version="0.9.3.M5"/>
<unit id="org.eclipse.emf.emfstore.common.feature.feature.group" version="0.9.3.M5"/>
<unit id="org.eclipse.emf.emfstore.client.ui.feature.feature.group" version="0.9.3.M5"/>
<repository location="http://download.eclipse.org/emf-store/milestones/latest"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="4.2.1.M20120914-1800"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.2"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.h2" version="1.1.117.v201105142352"/>
<unit id="org.h2.source" version="1.1.117.v201105142352"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.1.v20120917-0436"/>
<unit id="org.eclipse.jetty.sdk.feature.group" version="8.1.3.201206060641"/>
<unit id="org.eclipse.emf.cdo.sdk.feature.group" version="4.1.1.v20120911-1146"/>
<unit id="org.eclipse.net4j.sdk.feature.group" version="4.1.1.v20120911-1146"/>
<repository location="http://download.eclipse.org/releases/juno/"/>
</location>
</locations>
</target>
