<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="ECP RCP" sequenceNumber="162">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="4.2.1.M20120914-1800"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.8.0.v20120522-1841-7M7fA78g5_y-g-jtHxcd5k8q8lFR"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.2"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.emfstore.client.feature.feature.group" version="0.9.3.v20130213-1605"/>
<unit id="org.eclipse.emf.emfstore.client.ui.feature.feature.group" version="0.9.3.v20130213-1605"/>
<unit id="org.eclipse.emf.emfstore.example.feature.feature.group" version="0.9.3.v20130213-1605"/>
<unit id="org.eclipse.emf.emfstore.common.feature.feature.group" version="0.9.3.v20130213-1605"/>
<unit id="org.eclipse.emf.emfstore.server.feature.feature.group" version="0.9.3.v20130213-1605"/>
<repository location="https://hudson.eclipse.org/hudson/job/emf-emfstore-integration-tycho/586/artifact/git/org.eclipse.emf.emfstore.releng/org.eclipse.emf.emfstore.p2repository/target/repository/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.cdo.sdk.feature.group" version="4.1.1.v20120911-1146"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.1.v20120917-0436"/>
<unit id="org.eclipse.net4j.sdk.feature.group" version="4.1.1.v20120911-1146"/>
<unit id="org.eclipse.jdt.feature.group" version="3.8.1.v20120814-104540-8-8nFqpFNOfwKDRVz-tXOcL5d_83"/>
<repository location="http://download.eclipse.org/releases/juno/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.h2" version="1.1.117.v201105142352"/>
<unit id="org.h2.source" version="1.1.117.v201105142352"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
</location>
</locations>
</target>
