<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.emfforms.internal.editor.genmodel.util.handler.AddDescriptionTagHandler"
            id="org.eclipse.emfforms.editor.genmodel.util.addPropertyDescriptions"
            name="Add Property Descriptions">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="org.eclipse.emfforms.editor.genmodel.util.addPropertyDescriptions"
               label="Add Property Descriptions"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.genmodel">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
