<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated example -->
      <package
            uri="http://www.eclipse.org/emf/ecp/example/keyattribute/model"
            class="org.eclipse.emf.ecp.view.keyattribute.test.example.ExamplePackage"
            genModel="model/example.genmodel"/>
   </extension>

</plugin>
