<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.eclipse.emf.ecp.rap.Application"
            id="org.eclipse.emf.ecp.rap.entrypoint"
            path="/ecpWeb">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.emf.ecp.rap.Perspective"
            id="org.eclipse.emf.ecp.rap.perspective"
            name="RAP Perspective">
      </perspective>
   </extension>
   <!--
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            servletName="view"
            themeId="org.eclipse.rap.design.example.fancy.theme"
            defaultEntrypointId="org.eclipse.emf.ecp.rap.viewapp"
            title="RAP Single View"
            id="org.eclipse.emf.ecp.rap.branding">
      </branding>
   </extension>
	-->
</plugin>
