<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.emf.ecp.editor.pages" name="ECP Editor Pages" schema="schema/pages.exsd"/>
   <extension-point id="org.eclipse.emf.ecp.editor.statusmessage" name="Status Message" schema="schema/statusmessage.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
         <editor
            class="org.eclipse.emf.ecp.editor.internal.e3.MEEditor"
            default="false"
            id="org.eclipse.emf.ecp.editor"
            name="Model Element Editor">
      </editor>
   </extension>

</plugin>
