<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.emf.emfstore.client.usersessionProvider">
      <sessionProvider
            class="org.eclipse.emf.emfstore.fx.internal.projects.BasicUISessionProvider">
      </sessionProvider>
   </extension>

</plugin>
