<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="ecpfx" sequenceNumber="304">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.fx.target.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/efxclipse/runtime-released/2.1.0/site"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecp.emfforms.runtime.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/ecp/releases/releases_target_18"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.emfstore.example.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.emfstore.server.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.emfstore.client.ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.emfstore.common.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.emfstore.client.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/emfstore/releases_17"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.edapt.runtime.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.edapt.runtime.feature.source.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/edapt/releases/11x"/>
</location>
</locations>
</target>
