<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="ecpfx" sequenceNumber="28">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.fx.target.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/efxclipse/runtime-released/1.1.0/site"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecp.emfforms.runtime.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/ecp/releases/releases_15"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.emfstore.example.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.emfstore.server.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.emfstore.client.ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.emfstore.common.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.emfstore.client.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/emf-store/releases_14"/>
</location>
</locations>
</target>
