<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="uiProviders" name="ECP UI Providers" schema="schema/uiProviders.exsd"/>
   <extension-point id="modelelementopener" name="Modelelement Opener" schema="schema/modelelementopener.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.emf.ecp.ui"
            name="ECP">
      </category>
      <view
            category="org.eclipse.emf.ecp.ui"
            class="org.eclipse.emf.ecp.ui.views.ModelExplorerView"
            icon="icons/sample.gif"
            id="org.eclipse.emf.ecp.ui.ModelExplorerView"
            name="Model Explorer">
      </view>
      <view
            category="org.eclipse.emf.ecp.ui"
            class="org.eclipse.emf.ecp.ui.views.ModelRepositoriesView"
            icon="icons/repositories.gif"
            id="org.eclipse.emf.ecp.ui.ModelRepositoriesView"
            name="Model Repositories">
      </view>
      <view
            category="org.eclipse.emf.ecp.ui"
            class="org.eclipse.emf.ecp.ui.views.ECPProvidersView"
            icon="icons/providers.gif"
            id="org.eclipse.emf.ecp.ui.ECPProvidersView"
            name="ECP Providers">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <!--
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.ecp.ui.contribution.closedCloseables"
            objectClass="org.eclipse.emf.ecp.core.util.ECPCloseable">
         <action
               class="org.eclipse.emf.ecp.ui.actions.CloseableAction$Open"
               enablesFor="multiple"
               id="org.eclipse.emf.ecp.ui.openAction"
               label="Open"
               state="true"
               style="push">
         </action>
         <enablement>
    	         <test property="org.eclipse.emf.ecp.core.closeable.closed" value="true"/>
         </enablement>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.ecp.ui.contribution.openCloseables"
            objectClass="org.eclipse.emf.ecp.core.util.ECPCloseable">
         <action
               class="org.eclipse.emf.ecp.ui.actions.CloseableAction$Close"
               enablesFor="multiple"
               id="org.eclipse.emf.ecp.ui.closeAction"
               label="Close"
               state="true"
               style="push">
         </action>
         <enablement>
            <test property="org.eclipse.emf.ecp.core.closeable.open" value="true"/>
         </enablement>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.ecp.ui.contribution.deletables"
            objectClass="org.eclipse.emf.ecp.core.util.ECPDeletable">
         <action
               class="org.eclipse.emf.ecp.ui.actions.DeleteAction"
               enablesFor="multiple"
               icon="icons/delete.gif"
               id="org.eclipse.emf.ecp.ui.deleteAction"
               label="Delete"
               state="true"
               style="push">
         </action>
      </objectContribution>
      -->
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.ecp.ui.contribution.checkoutSources"
            objectClass="org.eclipse.emf.ecp.core.util.ECPCheckoutSource">
         <action
               class="org.eclipse.emf.ecp.ui.actions.CheckoutAction"
               enablesFor="multiple"
               icon="icons/checkout_project.gif"
               id="org.eclipse.emf.ecp.ui.checkoutAction"
               label="Checkout..."
               state="true"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.ecp.ui.contribution.repositories"
            objectClass="org.eclipse.emf.ecp.core.ECPRepository">
         <action
               class="org.eclipse.emf.ecp.ui.actions.RepositoryPropertiesAction"
               enablesFor="1"
               id="org.eclipse.emf.ecp.ui.repositoryPropertiesAction"
               label="Properties"
               state="true"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.ecp.ui.contribution.projects"
            objectClass="org.eclipse.emf.ecp.core.ECPProject">
         <action
               class="org.eclipse.emf.ecp.ui.actions.ProjectPropertiesAction"
               enablesFor="1"
               id="org.eclipse.emf.ecp.ui.projectPropertiesAction"
               label="Properties"
               state="true"
               style="push">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=global_additions">
         <command
               commandId="org.eclipse.emf.ecp.ui.closable"
               label="Open"
               style="push">
            <parameter
                  name="org.eclipse.emf.ecp.ecpclosable.type"
                  value="open">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <instanceof
                              value="org.eclipse.emf.ecp.core.util.ECPCloseable">
                        </instanceof>
                        <test
                              property="org.eclipse.emf.ecp.core.closeable.closed"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.closable"
               label="Close"
               style="push">
            <parameter
                  name="org.eclipse.emf.ecp.ecpclosable.type"
                  value="close">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <instanceof
                              value="org.eclipse.emf.ecp.core.util.ECPCloseable">
                        </instanceof>
                        <test
                              property="org.eclipse.emf.ecp.core.closeable.open"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.delete"
               icon="icons/delete.gif"
               label="Delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <instanceof
                              value="org.eclipse.emf.ecp.core.util.ECPDeletable">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView?after=additions">
         <command
               commandId="org.eclipse.emf.ecp.ui.project.createProject"
               icon="icons/add.gif"
               label="Create new project"
               style="push">
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.project.filterModelElements"
               icon="icons/sample.gif"
               label="Filter Model Elements"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.emf.ecp.core.isProjectSingle">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.wizards.newModelElementWizard"
               icon="icons/add.gif"
               label="New Model Element"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.emf.ecp.core.isProjectSingle">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.emf.ecp.ui.ModelExplorerView?after=additions">
         <command
               commandId="org.eclipse.emf.ecp.ui.search"
               icon="icons/magnifier.png"
               id="SearchElementButon"
               style="push"
               tooltip="Search for model element">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <or>
                           <instanceof
                                 value="org.eclipse.emf.ecore.EObject">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.emf.ecp.core.ECPProject">
                           </instanceof>
                        </or>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.emf.ecp.ui.commands.NewModelElementWizardHandler"
            id="org.eclipse.emf.ecp.ui.wizards.newModelElementWizard"
            name="New Model Element">
      </command>
      <command
            defaultHandler="org.eclipse.emf.ecp.ui.commands.ProjectFilterdPackagesHandler"
            id="org.eclipse.emf.ecp.ui.project.filterModelElements"
            name="Filter Modelelements">
      </command>
      <!--
      <command
            defaultHandler="org.eclipse.emf.ecp.ui.commands.CreateContainmentHandler"
            description="This generic command is used by dynamic commands to create containment MEs"
            id="org.eclipse.emf.ecp.navigator.createContaiment"
            name="New Containment ME">
         <commandParameter
               id="org.eclipse.emf.ecp.navigator.eClassParameter"
               name="eClassParameter"
               optional="true"
               typeId="org.eclipse.emf.ecp.navigator.eClassType">
         </commandParameter>
         <commandParameter
               id="org.eclipse.emf.ecp.navigator.eReferenceParameter"
               name="eReferenceParameter"
               optional="true"
               typeId="org.eclipse.emf.ecp.navigator.eReferenceType">
         </commandParameter>
  
      </command>
      -->
      <command
            id="org.eclipse.emf.ecp.ui.closable"
            name="closeable">
         <commandParameter
               id="org.eclipse.emf.ecp.ecpclosable.type"
               name="ECPCloseable Type"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.project.createProject"
            name="Create new project">
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.delete"
            name="Delete">
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.search"
            name="Search Element">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.ecp.ui.commands.DeleteHandler"
            commandId="org.eclipse.emf.ecp.ui.delete">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.emf.ecp.core.deletable.canDelete"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.CreateProjectHandler"
            commandId="org.eclipse.emf.ecp.ui.project.createProject">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.CloseableHandler"
            commandId="org.eclipse.emf.ecp.ui.closable">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.SearchModelElementHandler"
            commandId="org.eclipse.emf.ecp.ui.search">
      </handler>
   </extension>

</plugin>
