<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="uiProviders" name="ECP UI Providers" schema="schema/uiProviders.exsd"/>
   <extension-point id="modelelementopener" name="Modelelement Opener" schema="schema/modelelementopener.exsd"/>

   

</plugin>
