<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
  <editor
        class="org.eclipse.emfforms.internal.editor.genmodel.GenModelEditor"
        contributorClass="org.eclipse.emfforms.spi.editor.EMFUndoRedoActionBarContributor"
        default="false"
        extensions="genmodel"
        icon="icons/GenModelModelFile.gif"
        id="GenmodelEditor"
        name="Genmodel Editor">
  </editor>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
		<file filePath="viewmodels/GenTypeParameter.view"/>
		
		<file filePath="viewmodels/GenAnnotation.view"/>
		
		<file filePath="viewmodels/GenParameter.view"/>
		
		<file filePath="viewmodels/GenOperation.view"/>
		
		<file filePath="viewmodels/GenDataType.view"/>
		
		<file filePath="viewmodels/GenEnumLiteral.view"/>
		
		<file filePath="viewmodels/GenEnum.view"/>
		
		<file filePath="viewmodels/GenFeature.view"/>
		
		<file filePath="viewmodels/GenClass.view"/>
		
		<file filePath="viewmodels/GenPackage.view"/>
		
		<file filePath="viewmodels/GenModel.view"/>

   </extension>
   <extension
         point="org.eclipse.emfforms.editor.toolbarActions">
      <action
            toolbarAction="org.eclipse.emfforms.internal.editor.genmodel.toolbaractions.GenerateJavaCodeAction">
      </action>
   </extension>

</plugin>
