<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension id="application" point="org.eclipse.core.runtime.applications">
	<application thread="any" cardinality="*" visible="true" >
		<run class="org.eclipse.emf.ecp.makeithappen.application.sample.fx.MainApplication" />
		
	</application>
	
</extension>
<extension
      id="product"
      point="org.eclipse.core.runtime.products">
   <product
         application="org.eclipse.emf.ecp.makeithappen.application.sample.fx.application"
         name="MakeItHappen Sample FX Product">
      <property
            name="windowImages"
            value="icons/bricks.png">
      </property>
      <property
            name="appName"
            value="MakeItHappen Sample FX Product">
      </property>
   </product>
</extension>
</plugin>
