<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.eclipse.emf.cdo.ecp.provider"
         name="CDO Model Repository"
         point="org.eclipse.emf.ecp.ui.uiProviders">
      <uiProvider
            class="org.eclipse.emf.cdo.ecp.internal.ui.CDOUIProvider"
            provider="org.eclipse.emf.cdo.ecp.provider">
      </uiProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.emf.cdo.ecp.ui.commands"
            name="ECP CDO Provider">
      </category>
      <command
            categoryId="org.eclipse.emf.cdo.ecp.ui.commands"
            id="org.eclipse.emf.cdo.ecp.ui.checkinCommand"
            name="Checkin">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.cdo.ecp.internal.ui.handlers.CheckinHandler"
            commandId="org.eclipse.emf.cdo.ecp.ui.checkinCommand">
         <activeWhen>
            <test
                  property="org.eclipse.emf.cdo.ecp.ui.test1">
            </test>
         </activeWhen>
         <enabledWhen></enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.emf.cdo.ecp.ui.checkinCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.eclipse.emf.cdo.ecp.ui.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="org.eclipse.emf.cdo.ecp.ui.checkinCommand"
                  id="org.eclipse.emf.cdo.ecp.ui.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.emf.cdo.ecp.ui.toolbars.sampleToolbar">
            <command
                  commandId="org.eclipse.emf.cdo.ecp.ui.checkinCommand"
                  icon="icons/sample.gif"
                  id="org.eclipse.emf.cdo.ecp.ui.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
