<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.ui.modelelementopener">
      <ModelElementOpener
            class="org.eclipse.emf.ecp.explorereditorbridge.EditorModelElementOpener"
            name="org.eclipse.emf.ecp.explorereditorbridge.ModelElementOpener">
         <staticTester
               modelElement="org.eclipse.emf.ecore.EObject"
               priority="1">
         </staticTester>
      </ModelElementOpener>
   </extension>

</plugin>
