<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.edit.controls">
      <control
            class="org.eclipse.emf.ecp.controls.internal.fx.ECPFXText"
            id="org.eclipse.emf.ecp.controls.fx.text">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Object"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.controls.internal.fx.ECPFXBoolean"
            id="org.eclipse.emf.ecp.controls.fx.boolean">
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.lang.Boolean"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.controls.internal.fx.ECPFXNumerical"
            id="org.eclipse.emf.ecp.controls.fx.numerical">
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.lang.Double"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.lang.Integer"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.math.BigInteger"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.math.BigDecimal"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.lang.Float"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.lang.Long"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.controls.internal.fx.ECPFXDate"
            id="org.eclipse.emf.ecp.controls.fx.date">
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.util.Date"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.controls.internal.fx.ECPFXXmlDate"
            id="org.eclipse.emf.ecp.controls.fx.xmldate">
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="javax.xml.datatype.XMLGregorianCalendar"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.controls.internal.fx.ECPFXEnum"
            id="org.eclipse.emf.ecp.controls.fx.enum">
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.lang.Enum"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.controls.internal.fx.ECPFXStringList"
            id="org.eclipse.emf.ecp.controls.fx.multi.text">
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="java.lang.Object"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
      </control>
   </extension>

</plugin>
