<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.ui.view.swt.renderers">
      <renderer
            element="org.eclipse.emf.ecp.view.spi.categorization.model.VCategorizationElement"
            renderer="org.eclipse.emf.ecp.view.spi.categorization.swt.SWTCategorizationElementRenderer">
         <staticTest
               element="org.eclipse.emf.ecp.view.spi.categorization.model.VCategorizationElement"
               priority="1">
         </staticTest>
      </renderer>
      <renderer
            element="org.eclipse.emf.ecp.view.spi.categorization.model.VCategorization"
            renderer="org.eclipse.emf.ecp.view.spi.categorization.swt.SWTCategorizationRenderer">
         <staticTest
               element="org.eclipse.emf.ecp.view.spi.categorization.model.VCategorization"
               priority="1">
         </staticTest>
      </renderer>
      <renderer
            element="org.eclipse.emf.ecp.view.spi.categorization.model.VCategory"
            renderer="org.eclipse.emf.ecp.view.spi.categorization.swt.SWTCategoryRenderer">
         <staticTest
               element="org.eclipse.emf.ecp.view.spi.categorization.model.VCategory"
               priority="1">
         </staticTest>
      </renderer>
   </extension>

</plugin>
