<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated separator -->
      <package
            uri="http://org/eclipse/emf/ecp/view/model/separator"
            class="org.eclipse.emf.ecp.view.model.separator.SeparatorPackage"
            genModel="model/separator.genmodel"/>
   </extension>

</plugin>
