<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="masterDetailActions" name="Action registry for master detail" schema="schema/masterDetailActions.exsd"/>
   <extension-point id="selectionManipulator" name="Selection Manipulator" schema="schema/selectionManipulator.exsd"/>
   <extension
         point="org.eclipse.emf.ecp.ui.view.swt.renderers">
      <renderer
            renderer="org.eclipse.emf.ecp.view.spi.treemasterdetail.ui.swt.TreeMasterDetailSWTRenderer">
         <staticTest
               element="org.eclipse.emf.ecp.view.treemasterdetail.model.VTreeMasterDetail"
               priority="1">
         </staticTest>
      </renderer>
   </extension>

</plugin>
