<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.edit.controls">
      <control
            class="org.eclipse.emf.ecp.view.custom.ui.swt.example.MyCustomControl"
            id="org.eclipse.emf.ecp.view.customcontrol.example">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.custom.ui.swt.example.MyControlTester">
         </dynamicTest>icTest>
      </control>
   </extension>
</plugin>
