<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.edit.controls">
      <control
            class="org.eclipse.emf.ecp.view.template.controls.swt.TemplateColorControl"
            id="org.eclipse.emf.ecp.view.template.controls.swt.color">
         <staticTest
               priority="3"
               singleValue="true"
               supportedClassType="java.lang.String"
               supportedEObject="org.eclipse.emf.ecp.view.template.model.VTControlValidationTemplate"
               supportedFeature="okColorHEX">
         </staticTest>
         <staticTest
               priority="3"
               singleValue="true"
               supportedClassType="java.lang.String"
               supportedEObject="org.eclipse.emf.ecp.view.template.model.VTControlValidationTemplate"
               supportedFeature="infoColorHEX">
         </staticTest>
         <staticTest
               priority="3"
               singleValue="true"
               supportedClassType="java.lang.String"
               supportedEObject="org.eclipse.emf.ecp.view.template.model.VTControlValidationTemplate"
               supportedFeature="warningColorHEX">
         </staticTest>
         <staticTest
               priority="3"
               singleValue="true"
               supportedClassType="java.lang.String"
               supportedEObject="org.eclipse.emf.ecp.view.template.model.VTControlValidationTemplate"
               supportedFeature="errorColorHEX">
         </staticTest>
         <staticTest
               priority="3"
               singleValue="true"
               supportedClassType="java.lang.String"
               supportedEObject="org.eclipse.emf.ecp.view.template.model.VTControlValidationTemplate"
               supportedFeature="cancelColorHEX">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.view.template.controls.swt.TemplateIconControl"
            id="org.eclipse.emf.ecp.view.template.controls.swt.icon">
         <staticTest
               priority="3"
               singleValue="true"
               supportedClassType="java.lang.String"
               supportedEObject="org.eclipse.emf.ecp.view.template.model.VTControlValidationTemplate"
               supportedFeature="okImageURL">
         </staticTest>
         <staticTest
               priority="3"
               singleValue="true"
               supportedClassType="java.lang.String"
               supportedEObject="org.eclipse.emf.ecp.view.template.model.VTControlValidationTemplate"
               supportedFeature="infoImageURL">
         </staticTest>
         <staticTest
               priority="3"
               singleValue="true"
               supportedClassType="java.lang.String"
               supportedEObject="org.eclipse.emf.ecp.view.template.model.VTControlValidationTemplate"
               supportedFeature="warningImageURL">
         </staticTest>
         <staticTest
               priority="3"
               singleValue="true"
               supportedClassType="java.lang.String"
               supportedEObject="org.eclipse.emf.ecp.view.template.model.VTControlValidationTemplate"
               supportedFeature="errorImageURL">
         </staticTest>
         <staticTest
               priority="3"
               singleValue="true"
               supportedClassType="java.lang.String"
               supportedEObject="org.eclipse.emf.ecp.view.template.model.VTControlValidationTemplate"
               supportedFeature="cancelImageURL">
         </staticTest>
      </control>
   </extension>

</plugin>
