<?xml version="1.0" encoding="ASCII"?>
<org.eclipse.emf.ecp.view.template.model:ViewTemplate xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:org.eclipse.emf.ecp.view.template.model="http://org/eclipse/emf/ecp/view/template/model" xmlns:org.eclipse.emf.ecp.view.template.selector.viewmodelelement.model="http://www.eclipse.org/emf/ecp/view/template/selector/viewmodelelement/model" xmlns:org.eclipse.emf.ecp.view.template.style.textcontrol.enablement.model="http://www.eclipse.org/emf/ecp/view/template/style/textcontrol/enablement/model">
  <controlValidationConfiguration/>
  <styles>
    <selector xsi:type="org.eclipse.emf.ecp.view.template.selector.viewmodelelement.model:ViewModelElementSelector">
      <classType href="http://org/eclipse/emf/ecp/view/model/1170#//Control"/>
    </selector>
    <properties xsi:type="org.eclipse.emf.ecp.view.template.style.textcontrol.enablement.model:TextControlEnablementStyleProperty" RenderDisableAsEditable="true"/>
  </styles>
</org.eclipse.emf.ecp.view.template.model:ViewTemplate>
