<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated test -->
      <package
            uri="http://eclipse.com/emf/ecp/view/editor/controls/test"
            class="org.eclipse.emf.ecp.ui.view.editor.test.model.test.TestPackage"
            genModel="model/test.genmodel"/>
   </extension>

</plugin>
