<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="ecpfx" sequenceNumber="9">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ocl.all.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/neon"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecp.emfforms.runtime.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/ecp/releases/releases_target_19/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.emfstore.example.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.emfstore.server.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.emfstore.client.ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.emfstore.common.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.emfstore.client.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/emfstore/releases_18"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.ide" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.6milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.poi.source" version="0.0.0"/>
<unit id="org.apache.poi" version="0.0.0"/>
<unit id="org.apache.commons.codec" version="0.0.0"/>
<unit id="org.hamcrest.core" version="0.0.0"/>
<unit id="org.hamcrest.library" version="0.0.0"/>
<unit id="org.hamcrest.library.source" version="0.0.0"/>
<unit id="org.objenesis" version="0.0.0"/>
<unit id="org.objenesis.source" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.mockito.mockito-core-hamcrest-modified" version="0.0.0"/>
<repository location="http://build.eclipse.org/rt/rap/base-platforms/3.1/extra-dependencies/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.edapt.runtime.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.edapt.runtime.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/edapt/releases/12x"/>
</location>
</locations>
</target>
