<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.view.context.viewServices">
      <viewService
            class="org.eclipse.emf.ecp.view.internal.stack.ui.swt.StackItemViewService">
      </viewService>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.ui.view.swt.renderers">
      <renderer
            renderer="org.eclipse.emf.ecp.view.spi.stack.ui.swt.SWTStackLayoutRenderer">
         <staticTest
               element="org.eclipse.emf.ecp.view.spi.stack.model.VStackLayout"
               priority="1">
         </staticTest>
      </renderer>
   </extension>

</plugin>
