<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="cellEditor" name="%extension-point.cell-editor" schema="schema/cellEditor.exsd"/>
   <extension-point id="dialogWrapper" name="%extension-point.dialog-wrapper" schema="schema/dialogWrapper.exsd"/>
   <extension
         point="org.eclipse.emf.ecp.edit.controls">
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.controls.StringControl"
            id="org.eclipse.emf.ecp.control.swt.string"
            >
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.String">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.controls.BooleanControl"
            id="org.eclipse.emf.ecp.control.swt.boolean"
            >
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Boolean">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.controls.DateTimeControl"
            id="org.eclipse.emf.ecp.control.swt.dateTime"
            >
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.util.Date">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.controls.EEnumControl"
            id="org.eclipse.emf.ecp.control.swt.enum"
            >
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Enum">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.controls.AttributeMultiControl"
            id="org.eclipse.emf.ecp.control.swt.multiAttribute"
            >
         <dynamicTest
               testClass="org.eclipse.emf.ecp.edit.internal.swt.controls.AttributeMultiControlTester">
         </dynamicTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.controls.TableControl"
            id="org.eclipse.emf.ecp.control.swt.table"
            >
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="org.eclipse.emf.ecore.EObject">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="java.util.Map$Entry">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.controls.XmlDateControlText"
            id="org.eclipse.emf.ecp.control.swt.xml.date"
            >
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="javax.xml.datatype.XMLGregorianCalendar">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.controls.NumericalControl"
            id="org.eclipse.emf.ecp.control.swt.number"
            >
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.lang.Double">
         </staticTest>
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.lang.Integer">
         </staticTest>
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.math.BigInteger">
         </staticTest>
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.math.BigDecimal">
         </staticTest>
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.lang.Float">
         </staticTest>
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.lang.Long">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.reference.LinkControl"
            id="org.eclipse.emf.ecp.control.swt.reference"
            >
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="org.eclipse.emf.ecore.EObject">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.reference.ReferenceMultiControl"
            id="org.eclipse.emf.ecp.control.swt.multiReference"
            >
         <dynamicTest
               testClass="org.eclipse.emf.ecp.edit.internal.swt.reference.ReferenceMultiControlTester">
         </dynamicTest>
      </control>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.edit.swt.cellEditor">
      <cellEditor
            class="org.eclipse.emf.ecp.edit.internal.swt.table.NumberCellEditor"
            id="org.eclipse.emf.ecp.edit.swt.cellEditor.number"
            tester="org.eclipse.emf.ecp.edit.internal.swt.table.NumberCellEditorTester">
      </cellEditor>
      <cellEditor
            class="org.eclipse.emf.ecp.edit.internal.swt.table.XmlDateCellEditor"
            id="org.eclipse.emf.ecp.edit.swt.cellEditor.date"
            tester="org.eclipse.emf.ecp.edit.internal.swt.table.XmlDateCellEditorTester">
      </cellEditor>
      <cellEditor
            class="org.eclipse.emf.ecp.edit.internal.swt.table.DateCellEditor"
            id="org.eclipse.emf.ecp.edit.swt.cellEditor.dateTime"
            tester="org.eclipse.emf.ecp.edit.internal.swt.table.DateCellEditorTester">
      </cellEditor>
      <cellEditor
            class="org.eclipse.emf.ecp.edit.internal.swt.reference.LinkCellEditor"
            id="org.eclipse.emf.ecp.edit.swt.cellEditor.link"
            tester="org.eclipse.emf.ecp.edit.internal.swt.reference.LinkCellEditorTester">
      </cellEditor>
      <cellEditor
            class="org.eclipse.emf.ecp.edit.spi.swt.table.StringCellEditor"
            id="org.eclipse.emf.ecp.edit.swt.cellEditor.text"
            tester="org.eclipse.emf.ecp.edit.internal.swt.table.StringCellEditorTester">
      </cellEditor>
   </extension>

</plugin>
