<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.eclipse.emf.ecp.workspace.provider"
         name="Eclipse Workspace"
         point="org.eclipse.emf.ecp.ui.uiProviders">
      <uiProvider
            class="org.eclipse.emf.ecp.workspace.internal.ui.WorkspaceUIProvider"
            provider="org.eclipse.emf.ecp.workspace.provider">
      </uiProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.emf.ecp.workspace.ui.handler1">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
   </extension>

</plugin>
