<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.ui.labelProvider">
      <labelProvider
            class="org.eclipse.emf.ecp.ui.transaction.TransactionalModelLabelProvider">
      </labelProvider>
   </extension>
</plugin>
