<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="EMF Forms"
            id="org.eclipse.emf.ecp.view.ide">
      </category>
      <view
            name="EMF Forms Preview"
            icon="icons/preview.png"
            category="org.eclipse.emf.ecp.view.ide"
            class="org.eclipse.emf.ecp.view.model.internal.preview.e3.views.PreviewView"
            id="org.eclipse.emf.ecp.view.model.preview.e3.views.PreviewView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.emf.ecp.view.model.internal.preview.actions.OpenPreviewHandler"
            id="org.eclipse.emf.ecp.view.model.preview.OpenPreviewCommand"
            name="Open Preview">
      </command>
      <command
            defaultHandler="org.eclipse.emf.ecp.view.model.internal.preview.actions.ToggleAutomaticPreviewUpdateHandler"
            id="org.eclipse.emf.ecp.view.model.internal.preview.e3.ToggleAutomaticUpdate"
            name="Automatic Update">
             <state
               class="org.eclipse.jface.commands.ToggleState"
               id="org.eclipse.emf.ecp.view.model.internal.preview.e3.autoUpdateState">
         </state>
      </command>
      <command
            id="org.eclipse.emf.ecp.view.model.internal.preview.e3.refreshPreview"
            name="Refresh">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView?after=org.eclipse.emf.ecp.ui.separatorProvider">
         <command
               commandId="org.eclipse.emf.ecp.view.model.preview.OpenPreviewCommand"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="org.eclipse.emf.ecp.view.spi.model.VView">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <separator
               name="org.eclipse.emf.ecp.ui.e3.viewModelSeparator">
         </separator>
         <menu
               id="org.eclipse.emf.ecp.ui.e3.emfFormsMenu"
               label="EMF Forms">
            <command
                  commandId="org.eclipse.emf.ecp.view.model.preview.OpenPreviewCommand"
                  icon="icons/preview.png"
                  label="Open Preview"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.view">
                     </test>
                  </adapt>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.emf.ecp.view.model.preview.e3.views.PreviewView">
         <command
               commandId="org.eclipse.emf.ecp.view.model.internal.preview.e3.refreshPreview"
               icon="icons/arrow_refresh.png"
               label="Refresh"
               style="push">
         </command>
         <command
               commandId="org.eclipse.emf.ecp.view.model.internal.preview.e3.ToggleAutomaticUpdate"
               icon="icons/arrow_rotate_anticlockwise.png"
               label="Automatic Update"
               style="toggle">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.view.treemasterdetail.ui.swt.masterDetailActions">
      <MasterDetailAction
            command="org.eclipse.emf.ecp.view.model.internal.preview.actions.OpenPreviewHandler"
            imagePath="icons/preview.png"
            label="Open Preview"
            location="toolbar">
      </MasterDetailAction>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="org.eclipse.emf.ecp.view.model.internal.preview.actions.SessionSourceProvider">
         <variable
               name="org.eclipse.emf.ecp.view.model.internal.preview.e3.sessionState"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.ecp.view.model.internal.preview.actions.ManuallyRefreshPreview"
            commandId="org.eclipse.emf.ecp.view.model.internal.preview.e3.refreshPreview">
         <enabledWhen>
            <with
                  variable="org.eclipse.emf.ecp.view.model.internal.preview.e3.sessionState">
               <equals
                     value="disabled">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>
 </plugin>
