<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="cellReadOnly" name="cellReadOnly" schema="schema/cellReadOnly.exsd"/>
   <extension
         point="org.eclipse.emf.ecp.ui.view.swt.renderers">
      <renderer
            renderer="org.eclipse.emf.ecp.view.spi.table.swt.TableControlSWTRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.table.swt.TableControlRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.spi.table.swt.TableControlDetailDialogSWTRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.table.swt.TableControlDetailDialogRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.spi.table.swt.TableControlDetailPanelRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.table.swt.TableControlDetailPanelRendererTester">
         </dynamicTest>
      </renderer>
   </extension>

</plugin>
