<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.emf.ecp.edit.swt.cellEditor">
      <cellEditor
            class="org.eclipse.emf.ecp.view.spi.table.swt.EnumCellEditor"
            id="org.eclipse.emf.ecp.view.table.ui.swt.enumCellEditor"
            tester="org.eclipse.emf.ecp.view.spi.table.swt.EnumCellEditorTester">
      </cellEditor>
      <cellEditor
            class="org.eclipse.emf.ecp.view.internal.table.swt.cell.MultiReferenceCellEditor"
            id="org.eclipse.emf.ecp.view.table.ui.swt.multireferenceCellEditor"
            tester="org.eclipse.emf.ecp.view.internal.table.swt.cell.MultiReferenceCellEditorTester">
      </cellEditor>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecp.ui.view.tooltipModifier">
      <modifier
            class="org.eclipse.emf.ecp.view.internal.table.swt.cell.MultiReferenceTooltipModifier">
      </modifier>
   </extension>

</plugin>
