<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://org/eclipse/emf/ecp/view/template/model"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource"
            class="org.eclipse.emf.ecp.view.template.model.provider.TemplateItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/style/alignment/model"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource"
            class="org.eclipse.emf.ecp.view.template.style.alignment.model.provider.AlignmentItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.style.alignment.model.provider.AlignmentItemProviderAdapterFactory$TemplateChildCreationExtender">
      </extender>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/selector/domainmodelreference/model"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource"
            class="org.eclipse.emf.ecp.view.template.selector.domainmodelreference.model.provider.DomainmodelreferenceItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.selector.domainmodelreference.model.provider.DomainmodelreferenceItemProviderAdapterFactory$TemplateChildCreationExtender">
      </extender>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/style/validation/model"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource"
            class="org.eclipse.emf.ecp.view.template.style.validation.model.provider.ValidationItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.style.validation.model.provider.ValidationItemProviderAdapterFactory$TemplateChildCreationExtender">
      </extender>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/style/fontProperties/model"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource"
            class="org.eclipse.emf.ecp.view.template.style.fontProperties.model.provider.FontPropertiesItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.style.fontProperties.model.provider.FontPropertiesItemProviderAdapterFactory$TemplateChildCreationExtender">
      </extender>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/selector/viewmodelelement/model"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource"
            class="org.eclipse.emf.ecp.view.template.selector.viewModelElement.model.provider.ViewModelElementItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.selector.viewModelElement.model.provider.ViewModelElementItemProviderAdapterFactory$TemplateChildCreationExtender">
      </extender>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/style/table/validation/model"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource"
            class="org.eclipse.emf.ecp.view.template.style.tableValidation.model.provider.TableValidationItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.style.tableValidation.model.provider.TableValidationItemProviderAdapterFactory$TemplateChildCreationExtender">
      </extender>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/style/mandatory/model"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource"
            class="org.eclipse.emf.ecp.view.template.style.mandatory.model.provider.MandatoryItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.style.mandatory.model.provider.MandatoryItemProviderAdapterFactory$TemplateChildCreationExtender">
      </extender>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/style/textcontrol/enablement/model"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource"
            class="org.eclipse.emf.ecp.view.template.style.textControlEnablement.model.provider.TextControlEnablementItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.style.textControlEnablement.model.provider.TextControlEnablementItemProviderAdapterFactory$TemplateChildCreationExtender">
      </extender>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/style/background/model"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource"
            class="org.eclipse.emf.ecp.view.template.style.background.model.provider.BackgroundItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.style.background.model.provider.BackgroundItemProviderAdapterFactory$TemplateChildCreationExtender">
      </extender>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/style/tab/model"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource"
            class="org.eclipse.emf.ecp.view.template.style.tab.model.provider.TabItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.style.tab.model.provider.TabItemProviderAdapterFactory$TemplateChildCreationExtender">
      </extender>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/style/table/model"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource"
            class="org.eclipse.emf.ecp.view.template.style.tableStyleProperty.model.provider.TableStylePropertyItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.style.tableStyleProperty.model.provider.TableStylePropertyItemProviderAdapterFactory$TemplateChildCreationExtender">
      </extender>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/style/unsettable/model"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource"
            class="org.eclipse.emf.ecp.view.template.style.unsettable.model.provider.UnsettableItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.style.unsettable.model.provider.UnsettableItemProviderAdapterFactory$TemplateChildCreationExtender">
      </extender>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/style/labelwidth/model"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource"
            class="org.eclipse.emf.ecp.view.template.style.labelwidth.model.provider.LabelwidthItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.style.labelwidth.model.provider.LabelwidthItemProviderAdapterFactory$TemplateChildCreationExtender">
      </extender>
   </extension>

</plugin>
