<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2011-2013 EclipseSource Muenchen GmbH and others.
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
 EclipseSource Munich - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated template -->
      <factory
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.model.provider.TemplateItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated alignmentStyle -->
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/style/alignment/model"
            class="org.eclipse.emf.ecp.view.template.style.alignment.model.provider.AlignmentItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated alignmentStyle -->
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.style.alignment.model.provider.AlignmentItemProviderAdapterFactory$TemplateChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated domainModelReferenceSelector -->
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/selector/domainmodelreference/model"
            class="org.eclipse.emf.ecp.view.template.selector.domainmodelreference.model.provider.DomainmodelreferenceItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated domainModelReferenceSelector -->
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.selector.domainmodelreference.model.provider.DomainmodelreferenceItemProviderAdapterFactory$TemplateChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated validationStyle -->
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/style/validation/model"
            class="org.eclipse.emf.ecp.view.template.style.validation.model.provider.ValidationItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated validationStyle -->
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.style.validation.model.provider.ValidationItemProviderAdapterFactory$TemplateChildCreationExtender"/>
   </extension>
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated fontPropertiesStyle -->
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/style/fontProperties/model"
            class="org.eclipse.emf.ecp.view.template.style.fontProperties.model.provider.FontPropertiesItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated fontPropertiesStyle -->
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.style.fontProperties.model.provider.FontPropertiesItemProviderAdapterFactory$TemplateChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated viewModelElementSelector -->
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/selector/viewmodelelement/model"
            class="org.eclipse.emf.ecp.view.template.selector.viewModelElement.model.provider.ViewModelElementItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated viewModelElementSelector -->
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.selector.viewModelElement.model.provider.ViewModelElementItemProviderAdapterFactory$TemplateChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated tableValidationColumnStyleProperty -->
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/style/table/validation/model"
            class="org.eclipse.emf.ecp.view.template.style.tableValidation.model.provider.TableValidationItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated tableValidationColumnStyleProperty -->
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.style.tableValidation.model.provider.TableValidationItemProviderAdapterFactory$TemplateChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated mandatoryStyle -->
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/style/mandatory/model"
            class="org.eclipse.emf.ecp.view.template.style.mandatory.model.provider.MandatoryItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated mandatoryStyle -->
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.style.mandatory.model.provider.MandatoryItemProviderAdapterFactory$TemplateChildCreationExtender"/>
   </extension>
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated textControlEnablementStyle -->
      <factory
            uri="http://www.eclipse.org/emf/ecp/view/template/style/textcontrol/enablement/model"
            class="org.eclipse.emf.ecp.view.template.style.textControlEnablement.model.provider.TextControlEnablementItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated textControlEnablementStyle -->
      <extender
            uri="http://org/eclipse/emf/ecp/view/template/model"
            class="org.eclipse.emf.ecp.view.template.style.textControlEnablement.model.provider.TextControlEnablementItemProviderAdapterFactory$TemplateChildCreationExtender"/>
   </extension>
</plugin>
