<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright Text	Copyright (c) 2011-2017 EclipseSource Muenchen GmbH and others....
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated datatemplate -->
      <package
            uri="http://org/eclipse/emfforms/datatemplate/model"
            class="org.eclipse.emfforms.datatemplate.DataTemplatePackage"
            genModel="model/datatemplate.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated datatemplate -->
      <parser
            contentTypeIdentifier="org.eclipse.emfforms.datatemplate.model"
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <!-- @generated datatemplate -->
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="datatemplate"
            id="org.eclipse.emfforms.datatemplate.model"
            name="%_UI_DataTemplate_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://org/eclipse/emfforms/datatemplate/model"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>

</plugin>
