<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.emf.ecp.emfstore.ui.e4.share">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecp.core.ECPProject">
                  </instanceof>
                  <test
                        property="org.eclipse.emf.ecp.core.project.providerName"
                        value="org.eclipse.emf.ecp.emfstore.provider">
                  </test>
                  <test
                        args="org.eclipse.emf.ecp.emfstore.ui.share"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.share"
                           property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.emfstore.ui.e4.commit">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecp.core.ECPProject">
                  </instanceof>
                  <test
                        property="org.eclipse.emf.ecp.core.project.providerName"
                        value="org.eclipse.emf.ecp.emfstore.provider">
                  </test>
                  <test
                        args="org.eclipse.emf.ecp.emfstore.ui.commit"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.commit"
                           property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.emfstore.ui.e4.update">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <reference
                        definitionId="org.eclipse.emf.ecp.emfstore.ui.emfstoreProject">
                  </reference>
                  <test
                        args="org.eclipse.emf.ecp.emfstore.ui.update"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.update"
                           property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.emfstore.ui.e4.undo">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <reference
                        definitionId="org.eclipse.emf.ecp.emfstore.ui.emfstoreProject">
                  </reference>
                  <test
                        args="org.eclipse.emf.ecp.emfstore.ui.undoLastOperation"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.undoLastOperation"
                           property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.emfstore.ui.e4.revert">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <reference
                        definitionId="org.eclipse.emf.ecp.emfstore.ui.emfstoreProject">
                  </reference>
                  <test
                        args="org.eclipse.emf.ecp.emfstore.ui.revertAllOperations"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.revertAllOperations"
                           property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.emfstore.ui.e4.historyview">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <test
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.hasHistory"
                        value="true">
                  </test>
                  <test
                        args="org.eclipse.emf.ecp.emfstore.ui.showHistoryView"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.hasHistory"
                           value="true">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.showHistoryView"
                           property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.emfstore.ui.e4.branchCreate">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <reference
                        definitionId="org.eclipse.emf.ecp.emfstore.ui.emfstoreProject">
                  </reference>
                  <test
                        args="org.eclipse.emf.ecp.emfstore.ui.branchCreate"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.branchCreate"
                           property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.emfstore.ui.e4.branchMerge">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <reference
                        definitionId="org.eclipse.emf.ecp.emfstore.ui.emfstoreProject">
                  </reference>
                  <test
                        args="org.eclipse.emf.ecp.emfstore.ui.branchMerge"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.branchMerge"
                           property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.emfstore.ui.e4.updateToVersion">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <reference
                        definitionId="org.eclipse.emf.ecp.emfstore.ui.emfstoreProject">
                  </reference>
                  <test
                        args="org.eclipse.emf.ecp.emfstore.ui.updateToVersion"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.project.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.updateToVersion"
                           property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.emfstore.ui.e4.login">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecp.core.ECPRepository">
                  </instanceof>
                  <test
                        property="org.eclipse.emf.ecp.core.repository.providerName"
                        value="org.eclipse.emf.ecp.emfstore.provider">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                        value="false">
                  </test>
                  <test
                        args="org.eclipse.emf.ecp.emfstore.ui.emfserverLogin"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPRepository">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.repository.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                           value="false">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.emfserverLogin"
                           property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.emfstore.ui.e4.logout">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecp.core.ECPRepository">
                  </instanceof>
                  <test
                        property="org.eclipse.emf.ecp.core.repository.providerName"
                        value="org.eclipse.emf.ecp.emfstore.provider">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                        value="true">
                  </test>
                  <test
                        args="org.eclipse.emf.ecp.emfstore.ui.emfserverLogout"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPRepository">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.repository.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                           value="true">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.emfserverLogout"
                           property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.emfstore.ui.e4.serverDelete">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecp.emfstore.core.internal.EMFStoreProjectWrapper">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                        value="true">
                  </test>
                  <test
                        args="org.eclipse.emf.ecp.emfstore.ui.deleteOnServer"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.ecp.emfstore.core.internal.EMFStoreProjectWrapper">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                           value="true">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.deleteOnServer"
                           property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.emfstore.ui.e4.branchCheckout">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecp.emfstore.core.internal.EMFStoreProjectWrapper">
                  </instanceof>
                  <test
                        args="org.eclipse.emf.ecp.emfstore.ui.branchCheckout"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.ecp.emfstore.core.internal.EMFStoreProjectWrapper">
                     </instanceof>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.branchCheckout"
                           property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.emfstore.ui.e4.serverUsers">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecp.core.ECPRepository">
                  </instanceof>
                  <test
                        property="org.eclipse.emf.ecp.core.repository.providerName"
                        value="org.eclipse.emf.ecp.emfstore.provider">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                        value="true">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                        value="true">
                  </test>
                  <test
                        args="org.eclipse.emf.ecp.emfstore.ui.manageUserGroups"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPRepository">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.repository.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                           value="true">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                           value="true">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.manageUserGroups"
                           property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.emfstore.ui.e4.registerEPackage">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecp.core.ECPRepository">
                  </instanceof>
                  <test
                        property="org.eclipse.emf.ecp.core.repository.providerName"
                        value="org.eclipse.emf.ecp.emfstore.provider">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                        value="true">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                        value="true">
                  </test>
                  <test
                        args="org.eclipse.emf.ecp.emfstore.ui.emfserverRegisterEPackage"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPRepository">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.repository.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                           value="true">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                           value="true">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.emfserverRegisterEPackage"
                           property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.emfstore.ui.e4.serverProjectCreate">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecp.core.ECPRepository">
                  </instanceof>
                  <test
                        property="org.eclipse.emf.ecp.core.repository.providerName"
                        value="org.eclipse.emf.ecp.emfstore.provider">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                        value="true">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                        value="true">
                  </test>
                  <test
                        args="org.eclipse.emf.ecp.emfstore.ui.emfserverCreateRemoteProject"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPRepository">
                     </instanceof>
                     <test
                           property="org.eclipse.emf.ecp.core.repository.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                           value="true">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                           value="true">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.emfserverCreateRemoteProject"
                           property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.emfstore.ui.e4.localServer">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecp.core.ECPRepository">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.ecp.core.repository.providerName"
                        value="org.eclipse.emf.ecp.emfstore.provider">
                  </test>
                  <test
                        args="org.eclipse.emf.ecp.emfstore.ui.startLocalServer"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPRepository">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.core.repository.providerName"
                           value="org.eclipse.emf.ecp.emfstore.provider">
                     </test>
                     <test
                           args="org.eclipse.emf.ecp.emfstore.ui.startLocalServer"
                           property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.emfstore.ui.e4.exportProject">
         <with
               variable="org.eclipse.ui.selection">
            <instanceof
                  value="org.eclipse.emf.ecp.core.ECPProject">
            </instanceof>
         </with>
      </definition>
   </extension>

</plugin>
