<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.ui.view.swt.renderers">
      <renderer
            element="org.eclipse.emf.ecp.view.spi.horizontal.model.VHorizontalLayout"
            renderer="org.eclipse.emf.ecp.view.spi.horizontal.swt.HorizontalLayoutSWTRenderer">
      </renderer>
   </extension>

</plugin>
