<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated test -->
      <package
            uri="http://eclipse.org/emf/ecp/core/test"
            class="org.eclipse.emf.ecp.view.core.swt.test.model.TestPackage"
            genModel="model/test.genmodel"/>
   </extension>
   

</plugin>
