<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.emf.ecp.view.validation.propagator" name="Validation Propagator" schema="schema/org.eclipse.emf.ecp.view.validation.propagator.exsd"/>
   <extension-point id="validationSubProcessor" name="Validation Sub Processor" schema="schema/validationSubProcessor.exsd"/>
   <extension
         point="org.eclipse.emf.ecp.view.context.viewServices">
      <viewService
            class="org.eclipse.emf.ecp.view.validation.ValidationService">
      </viewService>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.view.validation.validationSubProcessor">
      <validationSubProcessor
            associatedRenderable="org.eclipse.emf.ecp.view.model.TableControl"
            class="org.eclipse.emf.ecp.view.validation.TableControlSubProcessor">
      </validationSubProcessor>
   </extension>

</plugin>
