<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.core.filters">
      <FilterProvider
            class="org.eclipse.emf.ecp.core.emffilter.internal.DefaultFilter">
      </FilterProvider>
   </extension>

</plugin>
