<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org/eclipse/emf/ecp/view/dynamictree/model"
            class="org.eclipse.emf.ecp.view.dynamictree.model.ModelPackage"
            genModel="model/dynamictree.genmodel"/>
   </extension>

</plugin>
