<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated view -->
      <package
            uri="http://org/eclipse/emf/ecp/view/model"
            class="org.eclipse.emf.ecp.view.model.VViewPackage"
            genModel="model/view.genmodel"/>
   </extension>

</plugin>
