<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.edit.controls">
      <control
            class="org.eclipse.emf.ecp.view.internal.editor.controls.ControlTargetFeatureControl"
            id="org.eclipse.emf.ecp.view.editor.controls.feature">
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="org.eclipse.emf.ecore.EStructuralFeature"
               supportedEObject="org.eclipse.emf.ecp.view.spi.model.VFeaturePathDomainModelReference"
               supportedFeature="domainModelEFeature">
         </staticTest>
      </control>
      <!--
      <control
            class="org.eclipse.emf.ecp.view.editor.controls.TreeCategoryTargetFeatureControl"
            id="org.eclipse.emf.ecp.view.editor.controls.treecategory"
            showLabel="true">
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="org.eclipse.emf.ecore.EStructuralFeature"
               supportedEObject="org.eclipse.emf.ecp.view.model.TreeCategory"
               supportedFeature="targetFeature">
         </staticTest>
      </control>
      -->
      <control
            class="org.eclipse.emf.ecp.view.internal.editor.controls.RuleFeaturePathControl"
            id="org.eclipse.emf.ecp.ui.view.editor.controls.referencePath.leafcondition">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.editor.controls.RuleFeaturePathTester">
         </dynamicTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.view.internal.editor.controls.TableColumnDomainModelReferenceControl"
            id="org.eclipse.emf.ecp.view.editor.controls.tableColumnDomainModelReference">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.editor.controls.TableDomainModelReferenceTester">
         </dynamicTest>
      </control>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView">
         <command
               commandId="org.eclipse.emf.ecp.view.editor.controls.generateDefault"
               icon="icons/generate.png"
               label="Generate Controls"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.emf.ecp.view.spi.model.VContainer">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.view.editor.controls.generateDefaultOnView"
               icon="icons/generate.png"
               label="Generate Controls"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.emf.ecp.view.spi.model.VView">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.view.editor.controls.unsetRootEclass"
               label="Unset Root EClass"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.emf.ecp.view.spi.model.VView">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <!--
         <command
               commandId="org.eclipse.emf.ecp.view.editor.controls.migrate"
               label="Migrate View model"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.emf.ecp.view.model.View">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         -->
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.ecp.ide.editor.view.editor">
         <command
               commandId="org.eclipse.emf.ecp.view.editor.controls.generateDefault"
               icon="icons/generate.png"
               label="Generate Controls"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.emf.ecp.view.spi.model.VContainer">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.view.editor.controls.generateDefaultOnView"
               icon="icons/generate.png"
               label="Generate Controls"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.emf.ecp.view.spi.model.VView">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.emf.ecp.view.internal.editor.handler.GenerateControlsHandler"
            id="org.eclipse.emf.ecp.view.editor.controls.generateDefault"
            name="Generate Controls">
      </command>
      <command
            defaultHandler="org.eclipse.emf.ecp.view.internal.editor.handler.MigrateHandler"
            id="org.eclipse.emf.ecp.view.editor.controls.migrate"
            name="Migrate">
      </command>
      <command
            defaultHandler="org.eclipse.emf.ecp.view.internal.editor.handler.GenerateControlsHandler"
            id="org.eclipse.emf.ecp.view.editor.controls.generateDefaultOnView"
            name="Generate Controls">
      </command>
      <command
            defaultHandler="org.eclipse.emf.ecp.view.internal.editor.handler.UnsetRootEClass"
            id="org.eclipse.emf.ecp.ui.view.editor.controls.unsetRootEclass"
            name="Unset Root EClass">
      </command>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.ui.dropAdapter">
      <ECPDropAdapter
            class="org.eclipse.emf.ecp.view.internal.editor.handler.ViewEditorDropAdapter">
      </ECPDropAdapter>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.view.treemasterdetail.ui.swt.masterDetailActions">
      <MasterDetailAction
            command="org.eclipse.emf.ecp.view.internal.editor.handler.GenerateControlsHandler"
            imagePath="icons/generate.png"
            label="Generate Controls"
            location="menu">
      </MasterDetailAction>
      <MasterDetailAction
            command="org.eclipse.emf.ecp.view.internal.editor.handler.GenerateTableColumnsHandler"
            imagePath="icons/generateColumns.png"
            label="Generate Columns"
            location="menu">
      </MasterDetailAction>
      <MasterDetailAction
            command="org.eclipse.emf.ecp.view.internal.editor.handler.GenerateTableColumnsForSubclassesHandler"
            imagePath="icons/generateColumns.png"
            label="Generate Columns for Subclass"
            location="menu">
      </MasterDetailAction>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.ui.view.swt.renderers">
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.editor.controls.ControlRootEClassControl2SWTRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.editor.controls.ControlRootEClassControl2SWTRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.editor.controls.ControlRootEClassControlChangeableSWTRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.editor.controls.RootEClassControlECPTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.editor.controls.LeafConditionControlRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.editor.controls.LeafConditionControlRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.editor.controls.StackItemControlRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.editor.controls.StackItemControlRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.editor.controls.DomainModelReferenceControlSWTRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.editor.controls.DomainModelReferenceControlSWTRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.editor.controls.TableColumnsDMRTableControl">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.editor.controls.TableColumnsDMRTableControlTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.internal.editor.controls.TableDetailViewControlSWTRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.internal.editor.controls.TableDetailViewControlSWTRendererTester">
         </dynamicTest>
      </renderer>
   </extension>

</plugin>
