<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.edit.controls">
      <control
            class="org.eclipse.emf.ecp.view.editor.controls.ControlTargetFeatureControl"
            id="org.eclipse.emf.ecp.view.editor.controls.feature"
            showLabel="true">
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="org.eclipse.emf.ecore.EStructuralFeature"
               supportedEObject="org.eclipse.emf.ecp.view.model.Control"
               supportedFeature="targetFeature">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.view.editor.controls.ExpectedValueControl"
            id="org.eclipse.emf.ecp.view.editor.controls.ruleattribute"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Object"
               supportedEObject="org.eclipse.emf.ecp.view.model.LeafCondition"
               supportedFeature="expectedValue">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.view.editor.controls.ControlConditionAttributeControl"
            id="org.eclipse.emf.ecp.view.editor.controls.conditionAttribute"
            showLabel="true">
         <staticTest
               priority="3"
               singleValue="true"
               supportedClassType="org.eclipse.emf.ecore.EAttribute"
               supportedEObject="org.eclipse.emf.ecp.view.model.LeafCondition"
               supportedFeature="attribute">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.view.editor.controls.ControlRootEClassControl"
            id="org.eclipse.emf.ecp.view.editor.controls.rootEClass"
            showLabel="true">
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="org.eclipse.emf.ecore.EClass"
               supportedEObject="org.eclipse.emf.ecp.view.model.View"
               supportedFeature="rootEClass">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.view.editor.controls.TreeCategoryTargetFeatureControl"
            id="org.eclipse.emf.ecp.view.editor.controls.treecategory"
            showLabel="true">
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="org.eclipse.emf.ecore.EStructuralFeature"
               supportedEObject="org.eclipse.emf.ecp.view.model.TreeCategory"
               supportedFeature="targetFeature">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.view.editor.controls.TableColumnAttributeControl"
            id="org.eclipse.emf.ecp.view.editor.controls.tableColumnAttribute"
            showLabel="true">
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="org.eclipse.emf.ecore.EAttribute"
               supportedEObject="org.eclipse.emf.ecp.view.model.TableColumn">
         </staticTest>
      </control>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView">
         <command
               commandId="org.eclipse.emf.ecp.view.editor.controls.generateDefault"
               label="Generate Controls"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.emf.ecp.view.model.CompositeCollection">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <!--
         <command
               commandId="org.eclipse.emf.ecp.view.editor.controls.migrate"
               label="Migrate View model"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.emf.ecp.view.model.View">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         -->
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.emf.ecp.view.editor.handler.GenerateControlsHandler"
            id="org.eclipse.emf.ecp.view.editor.controls.generateDefault"
            name="Generate Controls">
      </command>
      <command
            defaultHandler="org.eclipse.emf.ecp.view.editor.handler.MigrateHandler"
            id="org.eclipse.emf.ecp.view.editor.controls.migrate"
            name="Migrate">
      </command>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.ui.dropAdapter">
      <ECPDropAdapter
            class="org.eclipse.emf.ecp.view.editor.handler.ViewEditorDropAdapter">
      </ECPDropAdapter>
   </extension>

</plugin>
