<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.edit.controls">
      <control
            class="org.eclipse.emf.ecp.view.custom.ui.swt.test.CustomControlStub"
            id="org.eclipse.emf.ecp.view.custom.ui.swt.test.CustomControlStub"
            showLabel="false">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.custom.ui.swt.test.CustomControlStubTester">
         </dynamicTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.view.custom.ui.swt.test.CustomControlStub2"
            id="org.eclipse.emf.ecp.view.custom.ui.swt.test.CustomControlStub2"
            showLabel="false">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.custom.ui.swt.test.CustomControlStub2Tester">
         </dynamicTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.view.custom.ui.swt.test.ValidationCustomControl"
            id="org.eclipse.emf.ecp.view.custom.ui.swt.test.ValidatiuonCustomControl"
            showLabel="false">
         <staticTest
               priority="5"
               singleValue="false"
               supportedClassType="java.lang.String"
               supportedEObject="org.eclipse.emf.emfstore.bowling.Player"
               supportedFeature="eMails">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.view.custom.ui.swt.test.CustomControlStub3"
            id="org.eclipse.emf.ecp.view.custom.ui.swt.test.CustomControlStub3">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.custom.ui.swt.test.CustomControlStub3Tester">
         </dynamicTest>
      </control>
   </extension>

</plugin>
