<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         id="org.eclipse.emf.ecp.emfstore.provider"
         name="Local EMFStore"
         point="org.eclipse.emf.ecp.core.repositories">
      <repository
            description="Default EMFStore"
            provider="org.eclipse.emf.ecp.emfstore.provider">
         <property
               key="repositoryUrl"
               value="localhost">
         </property>
         <property
               key="port"
               value="8080">
         </property>
         <property
               key="certificate"
               value="emfstore test certificate (do not use in production!)">
         </property>
      </repository>
   </extension>
   <extension
         id="org.eclipse.emf.ecp.emfstore.provider"
         name="EMFStore Provider"
         point="org.eclipse.emf.ecp.ui.uiProviders">
      <uiProvider
            class="org.eclipse.emf.ecp.emfstore.internal.ui.EMFStoreUIProvider"
            provider="org.eclipse.emf.ecp.emfstore.provider">
      </uiProvider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreIsLoggedInTester"
            id="org.eclipse.emf.ecp.emfstore.ui.testers.emfstoreIsLoggedIn"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="emfserverIsLoggedIn"
            type="org.eclipse.emf.ecp.core.ECPRepository">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreElementIsShared"
            id="org.eclipse.emf.ecp.emfstore.ui.elementShared"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="elementShared"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreIsServerAdminTester"
            id="org.eclipse.emf.ecp.emfstore.ui.isServerAdmin"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="isServerAdmin"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreProjectIsDirtyTester"
            id="org.eclipse.emf.ecp.emfstore.ui.isDirty"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="isDirty"
            type="org.eclipse.emf.ecp.core.ECPProject">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreHistoryAvailable"
            id="org.eclipse.emf.ecp.emfstore.ui.hasHistory"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="hasHistory"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EmfStoreLocalServerAndNotRunningTester"
            id="org.eclipse.emf.ecp.emfstore.ui.testers.isLocalAndNotRunning"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="isLocalAndNotRunning"
            type="org.eclipse.emf.ecp.core.ECPRepository">
      </propertyTester>
   </extension>
	
                <extension
                      point="org.eclipse.emf.emfstore.client.checkoutObserver">
                   <observer
                         checkoutObserver="org.eclipse.emf.ecp.emfstore.internal.ui.observer.CheckoutObserver">
                   </observer>
                </extension>
                <extension
                      point="org.eclipse.emf.emfstore.client.ui.disableSaveControls">
                   <disableControls
                         enabled="true">
                   </disableControls>
                </extension>
                <extension
                      point="org.eclipse.core.expressions.definitions">
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.share">
                      <with
                            variable="org.eclipse.ui.selection">
                         <or>
                            <and>
                               <instanceof
                                     value="org.eclipse.emf.ecp.core.ECPProject">
                               </instanceof>
                               <test
                                     property="org.eclipse.emf.ecp.core.project.providerName"
                                     value="org.eclipse.emf.ecp.emfstore.provider">
                               </test>
                               <test
                                     args="org.eclipse.emf.ecp.emfstore.ui.share"
                                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                     value="true">
                               </test>
                            </and>
                            <and>
                               <count
                                     value="1">
                               </count>
                               <iterate
                                     ifEmpty="false"
                                     operator="and">
                                  <instanceof
                                        value="org.eclipse.emf.ecp.core.ECPProject">
                                  </instanceof>
                                  <test
                                        property="org.eclipse.emf.ecp.core.project.providerName"
                                        value="org.eclipse.emf.ecp.emfstore.provider">
                                  </test>
                                  <test
                                        args="org.eclipse.emf.ecp.emfstore.ui.share"
                                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                        value="true">
                                  </test>
                               </iterate>
                            </and>
                         </or>
                      </with>
                   </definition>
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.commit">
                      <with
                            variable="org.eclipse.ui.selection">
                         <or>
                            <and>
                               <instanceof
                                     value="org.eclipse.emf.ecp.core.ECPProject">
                               </instanceof>
                               <test
                                     property="org.eclipse.emf.ecp.core.project.providerName"
                                     value="org.eclipse.emf.ecp.emfstore.provider">
                               </test>
                               <test
                                     args="org.eclipse.emf.ecp.emfstore.ui.commit"
                                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                     value="true">
                               </test>
                            </and>
                            <and>
                               <count
                                     value="1">
                               </count>
                               <iterate>
                                  <instanceof
                                        value="org.eclipse.emf.ecp.core.ECPProject">
                                  </instanceof>
                                  <test
                                        property="org.eclipse.emf.ecp.core.project.providerName"
                                        value="org.eclipse.emf.ecp.emfstore.provider">
                                  </test>
                                  <test
                                        args="org.eclipse.emf.ecp.emfstore.ui.commit"
                                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                        value="true">
                                  </test>
                               </iterate>
                            </and>
                         </or>
                      </with>
                   </definition>
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.update">
                      <with
                            variable="org.eclipse.ui.selection">
                         <or>
                            <and>
                               <reference
                                     definitionId="org.eclipse.emf.ecp.emfstore.ui.emfstoreProject">
                               </reference>
                               <test
                                     args="org.eclipse.emf.ecp.emfstore.ui.update"
                                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                     value="true">
                               </test></and>
                            <and>
                               <count
                                     value="1">
                               </count>
                               <iterate>
                                  <instanceof
                                        value="org.eclipse.emf.ecp.core.ECPProject">
                                  </instanceof>
                                  <test
                                        property="org.eclipse.emf.ecp.core.project.providerName"
                                        value="org.eclipse.emf.ecp.emfstore.provider">
                                  </test>
                                  <test
                                        args="org.eclipse.emf.ecp.emfstore.ui.update"
                                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                        value="true">
                                  </test>
                               </iterate>
                            </and>
                         </or>
                      </with>
                   </definition>
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.undo">
                      <with
                            variable="org.eclipse.ui.selection">
                         <or>
                            <and>
                               <reference
                                     definitionId="org.eclipse.emf.ecp.emfstore.ui.emfstoreProject">
                               </reference>
                               <test
                                     args="org.eclipse.emf.ecp.emfstore.ui.undoLastOperation"
                                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                     value="true">
                               </test>
                            </and>
                            <and>
                               <count
                                     value="1">
                               </count>
                               <iterate>
                                  <instanceof
                                        value="org.eclipse.emf.ecp.core.ECPProject">
                                  </instanceof>
                                  <test
                                        property="org.eclipse.emf.ecp.core.project.providerName"
                                        value="org.eclipse.emf.ecp.emfstore.provider">
                                  </test>
                                  <test
                                        args="org.eclipse.emf.ecp.emfstore.ui.undoLastOperation"
                                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                        value="true">
                                  </test>
                               </iterate>
                            </and>
                         </or>
                      </with>
                   </definition>
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.revert">
                      <with
                            variable="org.eclipse.ui.selection">
                         <or>
                            <and>
                               <reference
                                     definitionId="org.eclipse.emf.ecp.emfstore.ui.emfstoreProject">
                               </reference>
                               <test
                                     args="org.eclipse.emf.ecp.emfstore.ui.revertAllOperations"
                                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                     value="true">
                               </test>
                            </and>
                            <and>
                               <count
                                     value="1">
                               </count>
                               <iterate>
                                  <instanceof
                                        value="org.eclipse.emf.ecp.core.ECPProject">
                                  </instanceof>
                                  <test
                                        property="org.eclipse.emf.ecp.core.project.providerName"
                                        value="org.eclipse.emf.ecp.emfstore.provider">
                                  </test>
                                  <test
                                        args="org.eclipse.emf.ecp.emfstore.ui.revertAllOperations"
                                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                        value="true">
                                  </test>
                               </iterate>
                            </and>
                         </or>
                      </with>
                   </definition>
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.historyview">
                      <with
                            variable="org.eclipse.ui.selection">
                         <or>
                            <and>
                               <test
                                     property="org.eclipse.emf.ecp.emfstore.ui.testers.hasHistory"
                                     value="true">
                               </test>
                               <test
                                     args="org.eclipse.emf.ecp.emfstore.ui.showHistoryView"
                                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                     value="true">
                               </test>
                            </and>
                            <and>
                               <count
                                     value="1">
                               </count>
                               <iterate>
                                  <test
                                        property="org.eclipse.emf.ecp.emfstore.ui.testers.hasHistory"
                                        value="true">
                                  </test>
                                  <test
                                        args="org.eclipse.emf.ecp.emfstore.ui.showHistoryView"
                                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                        value="true">
                                  </test>
                               </iterate>
                            </and>
                         </or>
                      </with>
                   </definition>
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.branchCreate">
                      <with
                            variable="org.eclipse.ui.selection">
                         <or>
                            <and>
                               <reference
                                     definitionId="org.eclipse.emf.ecp.emfstore.ui.emfstoreProject">
                               </reference>
                               <test
                                     args="org.eclipse.emf.ecp.emfstore.ui.branchCreate"
                                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                     value="true">
                               </test>
                            </and>
                            <and>
                               <count
                                     value="1">
                               </count>
                               <iterate>
                                  <instanceof
                                        value="org.eclipse.emf.ecp.core.ECPProject">
                                  </instanceof>
                                  <test
                                        property="org.eclipse.emf.ecp.core.project.providerName"
                                        value="org.eclipse.emf.ecp.emfstore.provider">
                                  </test>
                                  <test
                                        args="org.eclipse.emf.ecp.emfstore.ui.branchCreate"
                                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                        value="true">
                                  </test>
                               </iterate>
                            </and>
                         </or>
                      </with>
                   </definition>
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.branchMerge">
                      <with
                            variable="org.eclipse.ui.selection">
                         <or>
                            <and>
                               <reference
                                     definitionId="org.eclipse.emf.ecp.emfstore.ui.emfstoreProject">
                               </reference>
                               <test
                                     args="org.eclipse.emf.ecp.emfstore.ui.branchMerge"
                                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                     value="true">
                               </test>
                            </and>
                            <and>
                               <count
                                     value="1">
                               </count>
                               <iterate>
                                  <instanceof
                                        value="org.eclipse.emf.ecp.core.ECPProject">
                                  </instanceof>
                                  <test
                                        property="org.eclipse.emf.ecp.core.project.providerName"
                                        value="org.eclipse.emf.ecp.emfstore.provider">
                                  </test>
                                  <test
                                        args="org.eclipse.emf.ecp.emfstore.ui.branchMerge"
                                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                        value="true">
                                  </test>
                               </iterate>
                            </and>
                         </or>
                      </with>
                   </definition>
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.updateToVersion">
                      <with
                            variable="org.eclipse.ui.selection">
                         <or>
                            <and>
                               <reference
                                     definitionId="org.eclipse.emf.ecp.emfstore.ui.emfstoreProject">
                               </reference>
                               <test
                                     args="org.eclipse.emf.ecp.emfstore.ui.updateToVersion"
                                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                     value="true">
                               </test>
                            </and>
                            <and>
                               <count
                                     value="1">
                               </count>
                               <iterate>
                                  <instanceof
                                        value="org.eclipse.emf.ecp.core.ECPProject">
                                  </instanceof>
                                  <test
                                        property="org.eclipse.emf.ecp.core.project.providerName"
                                        value="org.eclipse.emf.ecp.emfstore.provider">
                                  </test>
                                  <test
                                        args="org.eclipse.emf.ecp.emfstore.ui.updateToVersion"
                                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                        value="true">
                                  </test>
                               </iterate>
                            </and>
                         </or>
                      </with>
                   </definition>
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.login">
                      <with
                            variable="org.eclipse.ui.selection">
                         <or>
                            <and>
                               <test
                                     property="org.eclipse.emf.ecp.core.repository.providerName"
                                     value="org.eclipse.emf.ecp.emfstore.provider">
                               </test>
                               <test
                                     forcePluginActivation="true"
                                     property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                                     value="false">
                               </test>
                               <test
                                     args="org.eclipse.emf.ecp.emfstore.ui.emfserverLogin"
                                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                     value="true">
                               </test></and>
                            <and>
                               <count
                                     value="1">
                               </count>
                               <iterate
                                     ifEmpty="false"
                                     operator="and">
                                  <test
                                        property="org.eclipse.emf.ecp.core.repository.providerName"
                                        value="org.eclipse.emf.ecp.emfstore.provider">
                                  </test>
                                  <test
                                        forcePluginActivation="true"
                                        property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                                        value="false">
                                  </test>
                                  <test
                                        args="org.eclipse.emf.ecp.emfstore.ui.emfserverLogin"
                                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                        value="true">
                                  </test>
                               </iterate>
                            </and>
                         </or>
                      </with>
                   </definition>
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.logout">
                      <with
                            variable="org.eclipse.ui.selection">
                         <or>
                            <and>
                               <test
                                     property="org.eclipse.emf.ecp.core.repository.providerName"
                                     value="org.eclipse.emf.ecp.emfstore.provider">
                               </test>
                               <test
                                     forcePluginActivation="true"
                                     property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                                     value="true">
                               </test>
                               <test
                                     args="org.eclipse.emf.ecp.emfstore.ui.emfserverLogout"
                                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                     value="true">
                               </test></and>
                            <and>
                               <count
                                     value="1">
                               </count>
                               <iterate
                                     ifEmpty="false"
                                     operator="and">
                                  <test
                                        property="org.eclipse.emf.ecp.core.repository.providerName"
                                        value="org.eclipse.emf.ecp.emfstore.provider">
                                  </test>
                                  <test
                                        forcePluginActivation="true"
                                        property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                                        value="true">
                                  </test>
                                  <test
                                        args="org.eclipse.emf.ecp.emfstore.ui.emfserverLogout"
                                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                        value="true">
                                  </test>
                               </iterate>
                            </and>
                         </or>
                      </with>
                   </definition>
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.serverDelete">
                      <with
                            variable="org.eclipse.ui.selection">
                         <or>
                            <and>
                               <instanceof
                                     value="org.eclipse.emf.ecp.emfstore.core.internal.EMFStoreProjectWrapper">
                               </instanceof>
                               <test
                                     forcePluginActivation="true"
                                     property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                                     value="true">
                               </test>
                               <test
                                     args="org.eclipse.emf.ecp.emfstore.ui.deleteOnServer"
                                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                     value="true">
                               </test></and>
                            <and>
                               <count
                                     value="1">
                               </count>
                               <iterate
                                     ifEmpty="false"
                                     operator="and">
                                  <instanceof
                                        value="org.eclipse.emf.ecp.emfstore.core.internal.EMFStoreProjectWrapper">
                                  </instanceof>
                                  <test
                                        forcePluginActivation="true"
                                        property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                                        value="true">
                                  </test>
                                  <test
                                        args="org.eclipse.emf.ecp.emfstore.ui.deleteOnServer"
                                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                        value="true">
                                  </test>
                               </iterate>
                            </and>
                         </or>
                      </with>
                   </definition>
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.branchCheckout">
                      <with
                            variable="org.eclipse.ui.selection">
                         <or>
                            <and>
                               <instanceof
                                     value="org.eclipse.emf.ecp.emfstore.core.internal.EMFStoreProjectWrapper">
                               </instanceof>
                               <test
                                     args="org.eclipse.emf.ecp.emfstore.ui.branchCheckout"
                                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                     value="true">
                               </test></and>
                            <and>
                               <count
                                     value="1">
                               </count>
                               <iterate
                                     ifEmpty="false"
                                     operator="and">
                                  <instanceof
                                        value="org.eclipse.emf.ecp.emfstore.core.internal.EMFStoreProjectWrapper">
                                  </instanceof>
                                  <test
                                        args="org.eclipse.emf.ecp.emfstore.ui.branchCheckout"
                                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                        value="true">
                                  </test>
                               </iterate>
                            </and>
                         </or>
                      </with>
                   </definition>
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.serverUsers">
                      <with
                            variable="org.eclipse.ui.selection">
                         <or>
                            <and>
                               <test
                                     property="org.eclipse.emf.ecp.core.repository.providerName"
                                     value="org.eclipse.emf.ecp.emfstore.provider">
                               </test>
                               <test
                                     forcePluginActivation="true"
                                     property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                                     value="true">
                               </test>
                               <test
                                     forcePluginActivation="true"
                                     property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                                     value="true">
                               </test>
                               <test
                                     args="org.eclipse.emf.ecp.emfstore.ui.manageUserGroups"
                                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                     value="true">
                               </test></and>
                            <and>
                               <count
                                     value="1">
                               </count>
                               <iterate
                                     ifEmpty="false"
                                     operator="and">
                                  <test
                                        property="org.eclipse.emf.ecp.core.repository.providerName"
                                        value="org.eclipse.emf.ecp.emfstore.provider">
                                  </test>
                                  <test
                                        forcePluginActivation="true"
                                        property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                                        value="true">
                                  </test>
                                  <test
                                        forcePluginActivation="true"
                                        property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                                        value="true">
                                  </test>
                                  <test
                                        args="org.eclipse.emf.ecp.emfstore.ui.manageUserGroups"
                                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                        value="true">
                                  </test>
                               </iterate>
                            </and>
                         </or>
                      </with>
                   </definition>
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.registerEPackage">
                      <with
                            variable="org.eclipse.ui.selection">
                         <or>
                            <and>
                               <test
                                     property="org.eclipse.emf.ecp.core.repository.providerName"
                                     value="org.eclipse.emf.ecp.emfstore.provider">
                               </test>
                               <test
                                     forcePluginActivation="true"
                                     property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                                     value="true">
                               </test>
                               <test
                                     forcePluginActivation="true"
                                     property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                                     value="true">
                               </test>
                               <test
                                     args="org.eclipse.emf.ecp.emfstore.ui.emfserverRegisterEPackage"
                                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                     value="true">
                               </test></and>
                            <and>
                               <count
                                     value="1">
                               </count>
                               <iterate
                                     ifEmpty="false"
                                     operator="and">
                                  <test
                                        property="org.eclipse.emf.ecp.core.repository.providerName"
                                        value="org.eclipse.emf.ecp.emfstore.provider">
                                  </test>
                                  <test
                                        forcePluginActivation="true"
                                        property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                                        value="true">
                                  </test>
                                  <test
                                        forcePluginActivation="true"
                                        property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                                        value="true">
                                  </test>
                                  <test
                                        args="org.eclipse.emf.ecp.emfstore.ui.emfserverRegisterEPackage"
                                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                        value="true">
                                  </test>
                               </iterate>
                            </and>
                         </or>
                      </with>
                   </definition>
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.serverProjectCreate">
                      <with
                            variable="org.eclipse.ui.selection">
                         <or>
                            <and>
                               <test
                                     property="org.eclipse.emf.ecp.core.repository.providerName"
                                     value="org.eclipse.emf.ecp.emfstore.provider">
                               </test>
                               <test
                                     forcePluginActivation="true"
                                     property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                                     value="true">
                               </test>
                               <test
                                     forcePluginActivation="true"
                                     property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                                     value="true">
                               </test>
                               <test
                                     args="org.eclipse.emf.ecp.emfstore.ui.emfserverCreateRemoteProject"
                                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                     value="true">
                               </test></and>
                            <and>
                               <count
                                     value="1">
                               </count>
                               <iterate
                                     ifEmpty="false"
                                     operator="and">
                                  <test
                                        property="org.eclipse.emf.ecp.core.repository.providerName"
                                        value="org.eclipse.emf.ecp.emfstore.provider">
                                  </test>
                                  <test
                                        forcePluginActivation="true"
                                        property="org.eclipse.emf.ecp.emfstore.ui.testers.emfserverIsLoggedIn"
                                        value="true">
                                  </test>
                                  <test
                                        forcePluginActivation="true"
                                        property="org.eclipse.emf.ecp.emfstore.ui.testers.isServerAdmin"
                                        value="true">
                                  </test>
                                  <test
                                        args="org.eclipse.emf.ecp.emfstore.ui.emfserverCreateRemoteProject"
                                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                        value="true">
                                  </test>
                               </iterate>
                            </and>
                         </or>
                      </with>
                   </definition>
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.localServer">
                      <with
                            variable="org.eclipse.ui.selection">
                         <or>
                            <and>
                               <test
                                     forcePluginActivation="true"
                                     property="org.eclipse.emf.ecp.core.repository.providerName"
                                     value="org.eclipse.emf.ecp.emfstore.provider">
                               </test>
                               <test
                                     args="org.eclipse.emf.ecp.emfstore.ui.startLocalServer"
                                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                     value="true">
                               </test></and>
                            <and>
                               <count
                                     value="1">
                               </count>
                               <iterate
                                     ifEmpty="false"
                                     operator="and">
                                  <test
                                        forcePluginActivation="true"
                                        property="org.eclipse.emf.ecp.core.repository.providerName"
                                        value="org.eclipse.emf.ecp.emfstore.provider">
                                  </test>
                                  <test
                                        args="org.eclipse.emf.ecp.emfstore.ui.startLocalServer"
                                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                        value="true">
                                  </test>
                               </iterate>
                            </and>
                         </or>
                      </with>
                   </definition>
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.emfstoreProject">
                      <and>
                         <instanceof
                               value="org.eclipse.emf.ecp.core.ECPProject">
                         </instanceof>
                         <test
                               property="org.eclipse.emf.ecp.core.project.providerName"
                               value="org.eclipse.emf.ecp.emfstore.provider">
                         </test>
                      </and>
                   </definition>
                </extension>
</plugin>
