<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         id="org.eclipse.emf.ecp.emfstore.provider"
         name="Local EMFStore"
         point="org.eclipse.emf.ecp.core.repositories">
      <repository
            description="Default EMFStore"
            provider="org.eclipse.emf.ecp.emfstore.provider">
         <property
               key="repositoryUrl"
               value="localhost">
         </property>
         <property
               key="port"
               value="8080">
         </property>
         <property
               key="certificate"
               value="emfstore test certificate (do not use in production!)">
         </property>
      </repository>
   </extension>
   <extension
         id="org.eclipse.emf.ecp.emfstore.provider"
         name="EMFStore Provider"
         point="org.eclipse.emf.ecp.ui.uiProviders">
      <uiProvider
            class="org.eclipse.emf.ecp.emfstore.internal.ui.EMFStoreUIProvider"
            provider="org.eclipse.emf.ecp.emfstore.provider">
      </uiProvider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreIsLoggedInTester"
            id="org.eclipse.emf.ecp.emfstore.ui.testers.emfstoreIsLoggedIn"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="emfserverIsLoggedIn"
            type="org.eclipse.emf.ecp.core.ECPRepository">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreElementIsShared"
            id="org.eclipse.emf.ecp.emfstore.ui.elementShared"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="elementShared"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreIsServerAdminTester"
            id="org.eclipse.emf.ecp.emfstore.ui.isServerAdmin"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="isServerAdmin"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreProjectIsDirtyTester"
            id="org.eclipse.emf.ecp.emfstore.ui.isDirty"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="isDirty"
            type="org.eclipse.emf.ecp.core.ECPProject">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EMFStoreHistoryAvailable"
            id="org.eclipse.emf.ecp.emfstore.ui.hasHistory"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="hasHistory"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.ecp.emfstore.internal.ui.property.EmfStoreLocalServerAndNotRunningTester"
            id="org.eclipse.emf.ecp.emfstore.ui.testers.isLocalAndNotRunning"
            namespace="org.eclipse.emf.ecp.emfstore.ui.testers"
            properties="isLocalAndNotRunning"
            type="org.eclipse.emf.ecp.core.ECPRepository">
      </propertyTester>
   </extension>
	
                <extension
                      point="org.eclipse.emf.emfstore.client.checkoutObserver">
                   <observer
                         checkoutObserver="org.eclipse.emf.ecp.emfstore.internal.ui.observer.CheckoutObserver">
                   </observer>
                </extension>
                <extension
                      point="org.eclipse.emf.emfstore.client.ui.disableSaveControls">
                   <disableControls
                         enabled="true">
                   </disableControls>
                </extension>
                <extension
                      point="org.eclipse.core.expressions.definitions">
                   <definition
                         id="org.eclipse.emf.ecp.emfstore.ui.emfstoreProject">
                      <and>
                         <instanceof
                               value="org.eclipse.emf.ecp.core.ECPProject">
                         </instanceof>
                         <test
                               property="org.eclipse.emf.ecp.core.project.providerName"
                               value="org.eclipse.emf.ecp.emfstore.provider">
                         </test>
                      </and>
                   </definition>
                </extension>
</plugin>
