<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.edit.controls">
      <control
            class="org.eclipse.emf.ecp.ide.editor.view.control.ViewEditorIDEViewRootControl"
            id="org.eclipse.emf.ecp.ide.editor.view.control.root">
         <staticTest
               priority="8"
               singleValue="true"
               supportedClassType="org.eclipse.emf.ecore.EClass"
               supportedEObject="org.eclipse.emf.ecp.view.spi.model.VView"
               supportedFeature="rootEClass">
         </staticTest>
      </control>
   </extension>

</plugin>
