<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated custom -->
      <package
            uri="http://org/eclipse/emf/ecp/view/custom/model"
            class="org.eclipse.emf.ecp.view.spi.custom.model.VCustomPackage"
            genModel="model/custom.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.edapt.migrators">
      <migrator
            path="model/custom.history">
      </migrator>
   </extension>

</plugin>
