<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.ui.view.swt.layoutProvider">
      <layoutProvider
            class="org.eclipse.emf.ecp.view.swt.internal.layout.ECPLayoutProvider">
      </layoutProvider>
   </extension>

</plugin>
