<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="menuContributionEnablement" name="Menu Contribution Enablement" schema="schema/menuContributionEnablement.exsd"/>
<extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.emf.ecp.ui"
            name="ECP">
      </category>
      <view
            category="org.eclipse.emf.ecp.ui"
            class="org.eclipse.emf.ecp.ui.views.ModelExplorerView"
            icon="icons/folder_brick.png"
            id="org.eclipse.emf.ecp.ui.ModelExplorerView"
            name="%ModelExplorerView">
      </view>
      <view
            category="org.eclipse.emf.ecp.ui"
            class="org.eclipse.emf.ecp.ui.views.ModelRepositoriesView"
            icon="icons/repositories.gif"
            id="org.eclipse.emf.ecp.ui.ModelRepositoriesView"
            name="%ModelRepositoryView">
      </view>
      <view
            category="org.eclipse.emf.ecp.ui"
            class="org.eclipse.emf.ecp.ui.views.ECPProvidersView"
            icon="icons/providers.gif"
            id="org.eclipse.emf.ecp.ui.ECPProvidersView"
            name="%ECPProviderView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <!--
      
      
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.ecp.ui.contribution.checkoutSources"
            objectClass="org.eclipse.emf.ecp.core.util.ECPCheckoutSource">
         <action
               class="org.eclipse.emf.ecp.ui.actions.CheckoutAction"
               enablesFor="multiple"
               icon="icons/checkout_project.gif"
               id="org.eclipse.emf.ecp.ui.checkoutAction"
               label="Checkout..."
               state="true"
               style="push">
         </action>
      </objectContribution>
      -->
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.ecp.ui.contribution.repositories"
            objectClass="org.eclipse.emf.ecp.core.ECPRepository">
         <action
               class="org.eclipse.emf.ecp.ui.actions.RepositoryPropertiesAction"
               enablesFor="1"
               id="org.eclipse.emf.ecp.ui.repositoryPropertiesAction"
               label="%RepositoryProperties"
               state="true"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.ecp.ui.contribution.projects"
            objectClass="org.eclipse.emf.ecp.core.ECPProject">
         <action
               class="org.eclipse.emf.ecp.ui.actions.ProjectPropertiesAction"
               enablesFor="1"
               id="org.eclipse.emf.ecp.ui.projectPropertiesAction"
               label="%ProjectProperties"
               state="true"
               style="push">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=global_additions">
         <command
               commandId="org.eclipse.emf.ecp.ui.closable"
               label="%OpenClosable"
               style="push">
            <parameter
                  name="org.eclipse.emf.ecp.ecpclosable.type"
                  value="open">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <instanceof
                              value="org.eclipse.emf.ecp.core.util.ECPCloseable">
                        </instanceof>
                        <test
                              property="org.eclipse.emf.ecp.core.closeable.closed"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.closable"
               label="%CloseClosable"
               style="push">
            <parameter
                  name="org.eclipse.emf.ecp.ecpclosable.type"
                  value="close">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <instanceof
                              value="org.eclipse.emf.ecp.core.util.ECPCloseable">
                        </instanceof>
                        <test
                              property="org.eclipse.emf.ecp.core.closeable.open"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.delete"
               icon="icons/delete.gif"
               label="%DelteProject"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <instanceof
                              value="org.eclipse.emf.ecp.core.util.ECPDeletable">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.checkout"
               icon="icons/checkout_project.gif"
               label="%CheckoutProject"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <instanceof
                              value="org.eclipse.emf.ecp.core.util.ECPCheckoutSource">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView?after=additions">
         <command
               commandId="org.eclipse.emf.ecp.ui.project.createProject"
               icon="icons/checkout_project_old.gif"
               label="%CreateNewProject"
               style="push">
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.project.filterModelElements"
               icon="icons/sample.gif"
               label="%FilterProject"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.ecp.core.ECPProject">
                        </instanceof>
                        <test
                              args="org.eclipse.emf.ecp.ui.project.filterModelElements"
                              property="org.eclipse.emf.ecp.ui.workbench.menu.enablement"
                              value="true">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.wizards.newModelElementWizard"
               icon="icons/add.gif"
               label="%NewModelElement"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.ecp.core.ECPProject">
                        </instanceof>
                        <test
                              args="org.eclipse.emf.ecp.ui.wizards.newModelElementWizard"
                              property="org.eclipse.emf.ecp.ui.workbench.menu.enablement"
                              value="true">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.workbench.deleteModelElement"
               icon="icons/delete.gif"
               label="Delete Model Element"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.ecore.EObject">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.workbench.import"
               label="Import Child"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.emf.ecore.EObject">
                        </instanceof>
                        <test
                              args="org.eclipse.emf.ecp.ui.workbench.import"
                              property="org.eclipse.emf.ecp.ui.workbench.menu.enablement"
                              value="true">
                        </test>
                     </and>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.workbench.export"
               icon="icons/database_go.png"
               label="Export"
               style="push">
               <visibleWhen
                  checkEnabled="false">
                  <and>
                     <iterate>
                        <and>
                           <instanceof
                                 value="org.eclipse.emf.ecore.EObject">
                           </instanceof>
                           <test
                                 args="org.eclipse.emf.ecp.ui.workbench.export"
                                 property="org.eclipse.emf.ecp.ui.workbench.menu.enablement"
                                 value="true">
                           </test>
                        </and>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.emf.ecp.ui.ModelExplorerView?after=additions">
         <command
               commandId="org.eclipse.emf.ecp.ui.workbench.saveProject"
               icon="icons/database_save.png"
               label="%SaveProject"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.emf.ecp.ui.wizards.newModelElementWizard"
            name="New Model Element">
      </command>
      <command
            defaultHandler="org.eclipse.emf.ecp.ui.commands.ProjectFilterdPackagesHandler"
            id="org.eclipse.emf.ecp.ui.project.filterModelElements"
            name="Filter Modelelements">
      </command>
      <!--
      <command
            defaultHandler="org.eclipse.emf.ecp.ui.commands.CreateContainmentHandler"
            description="This generic command is used by dynamic commands to create containment MEs"
            id="org.eclipse.emf.ecp.navigator.createContaiment"
            name="New Containment ME">
         <commandParameter
               id="org.eclipse.emf.ecp.navigator.eClassParameter"
               name="eClassParameter"
               optional="true"
               typeId="org.eclipse.emf.ecp.navigator.eClassType">
         </commandParameter>
         <commandParameter
               id="org.eclipse.emf.ecp.navigator.eReferenceParameter"
               name="eReferenceParameter"
               optional="true"
               typeId="org.eclipse.emf.ecp.navigator.eReferenceType">
         </commandParameter>
  
      </command>
      -->
      <command
            id="org.eclipse.emf.ecp.ui.closable"
            name="Close/Open">
         <commandParameter
               id="org.eclipse.emf.ecp.ecpclosable.type"
               name="ECPCloseable Type"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.project.createProject"
            name="Create new project">
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.delete"
            name="Delete">
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.checkout"
            name="Checkout">
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.addrepository"
            name="Add Repository">
      </command>
      <command
            description="Save Project"
            id="org.eclipse.emf.ecp.ui.workbench.saveProject"
            name="Save Project">
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.workbench.deleteModelElement"
            name="Delete Model Element">
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.workbench.import"
            name="Import Child">
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.workbench.export"
            name="Export model">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.ecp.ui.commands.DeleteHandler"
            commandId="org.eclipse.emf.ecp.ui.delete">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.emf.ecp.core.deletable.canDelete"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.CreateProjectHandler"
            commandId="org.eclipse.emf.ecp.ui.project.createProject">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.CloseableHandler"
            commandId="org.eclipse.emf.ecp.ui.closable">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.CheckoutHandler"
            commandId="org.eclipse.emf.ecp.ui.checkout">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.SaveProjectHandler"
            commandId="org.eclipse.emf.ecp.ui.workbench.saveProject">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.emf.ecp.core.ECPProject">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.ecp.core.project.isDirty"
                        value="true">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.ecp.core.project.hasAutosave"
                        value="false">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.NewModelElementWizardHandler"
            commandId="org.eclipse.emf.ecp.ui.wizards.newModelElementWizard">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.DeleteModelElementHandler"
            commandId="org.eclipse.emf.ecp.ui.workbench.deleteModelElement">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.ImportHandler"
            commandId="org.eclipse.emf.ecp.ui.workbench.import">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.ExportHandler"
            commandId="org.eclipse.emf.ecp.ui.workbench.export">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.emf.ecp.ui.perspective.ECPPerspectiveFactory"
            icon="icons/bricks.png"
            id="org.eclipse.emf.ecp.ui.main"
            name="ECP">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.emf.ecp.ui.tester.ECPMenuContributionsEnablementTester"
            id="org.eclipse.emf.ecp.ui.workbench.menu.properties"
            namespace="org.eclipse.emf.ecp.ui.workbench.menu"
            properties="enablement"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
