<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.emf.ecp.editor.attributecontrols" name="org.eclipse.emf.ecp.editor.attributecontrols" schema="schema/org.eclipse.emf.ecp.editor.attributecontrol.exsd"/>
   <extension-point id="org.eclipse.emf.ecp.editor.referencecontrols" name="org.eclipse.emf.ecp.editor.referencecontrols" schema="schema/org.eclipse.emf.ecp.editor.referencecontrol.exsd"/>
   
   
   <!--
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.emf.ecp.editor.commands.OpenModelElementHandler"
            id="org.eclipse.emf.ecp.editor.openModelElement"
            name="OpenModelElement">
      </command>
   </extension>
   -->
   <!--
   <extension
         point="org.eclipse.emf.ecp.editor.melinkcontrols">
      <widget
            class="org.eclipse.emf.ecp.editor.controls.internal.association.AssociationClassLink"
            name="org.eclipse.emf.ecp.editor.associationclasslink"
            type="org.eclipse.emf.ecore.EObject">
      </widget>
      <widget
            class="org.eclipse.emf.ecp.editor.controls.internal.association.AssociationClassLinkNoDelete"
            name="org.eclipse.emf.ecp.editor.associationclasslinknodelete"
            type="org.eclipse.emf.ecore.EObject">
      </widget>
      <widget
            class="org.eclipse.emf.ecp.editor.controls.internal.association.AssociationClassLinkNotShow"
            name="org.eclipse.emf.ecp.editor.associationclasslinknotshow"
            type="org.eclipse.emf.ecore.EObject">
      </widget>
   </extension>
   -->
   
</plugin>
