<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.ui.validation.doubleClickListener">
      <doubleClickListener
            class="org.eclipse.emf.ecp.internal.validationvieweditorbridge.ValidationViewToEditorBridge">
      </doubleClickListener>
   </extension>

</plugin>
