<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="ECP RAP" sequenceNumber="258">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.forms.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="2.2.1.201402241301"/>
<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<unit id="org.hamcrest.library" version="1.3.0.v201305281000"/>
<unit id="org.hamcrest.library.source" version="1.3.0.v201305281000"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.h2" version="1.3.168.v201212121212"/>
<unit id="org.h2.source" version="1.3.168.v201212121212"/>
<unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20140917154621/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.11.0.v20150320-0346"/>
<unit id="org.eclipse.platform.ide" version="4.5.0.I20150320-0800"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5milestones/S-4.5M6-201503200800/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecp.rap.sdk.feature.feature.group" version="1.3.0.20140610-1229"/>
<unit id="org.eclipse.emf.ecp.rap.util.feature.feature.group" version="1.3.0.20140610-1229"/>
<unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="1.3.0.20140610-1229"/>
<repository location="http://download.eclipse.org/ecp/releases/releases_13"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.fileupload.feature.feature.group" version="2.3.0.20140517-1319"/>
<repository location="http://download.eclipse.org/rt/rap/incubator/2.3/fileupload/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.cdo.sdk.feature.group" version="4.4.0.v20150324-0950"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.0.v20150323-0420"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.9.0.201503250534"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.9.0.201503250348"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.10.0.201502020307"/>
<unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.12.0.v20150325-0826"/>
<unit id="org.eclipse.graphiti.feature.feature.group" version="0.12.0.v20150325-0826"/>
<unit id="org.eclipse.jdt.feature.group" version="3.11.0.v20150320-0800"/>
<unit id="org.eclipse.net4j.sdk.feature.group" version="4.4.0.v20150324-0950"/>
<repository location="http://download.eclipse.org/releases/mars/201503271000"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.emfstore.client.transaction.feature.feature.group" version="1.4.0.v20140912-0421"/>
<unit id="org.eclipse.emf.emfstore.client.feature.feature.group" version="1.4.0.v20140912-0421"/>
<unit id="org.eclipse.emf.emfstore.common.feature.feature.group" version="1.4.0.v20140912-0421"/>
<unit id="org.eclipse.emf.emfstore.server.feature.feature.group" version="1.4.0.v20140912-0421"/>
<unit id="org.eclipse.emf.emfstore.example.feature.feature.group" version="1.4.0.v20140912-0421"/>
<unit id="org.eclipse.emf.emfstore.client.ui.feature.feature.group" version="1.4.0.v20140912-0421"/>
<unit id="org.eclipse.emf.emfstore.ecore.feature.feature.group" version="1.4.0.v20140912-0421"/>
<repository location="http://download.eclipse.org/emf-store/releases_14"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="2.3.0.20140608-1653"/>
<unit id="org.eclipse.rap.feature.feature.group" version="2.3.0.20140610-0925"/>
<unit id="org.eclipse.rap.sdk.feature.feature.group" version="2.3.0.20140610-0925"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
</locations>
</target>
