<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.ui.view.swt.customSWTRenderers">
      <renderers
            class="org.eclipse.emf.ecp.view.custom.ui.internal.swt.SWTRendererCustom">
      </renderers>
   </extension>

</plugin>
