<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated car -->
      <package
            uri="http://eclipsesource.com/example/model"
            class="car.CarPackage"
            genModel="model/car.genmodel"/>
   </extension>

</plugin>
