<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.emf.ecp.emfstore.provider"
         name="Local EMFStore"
         point="org.eclipse.emf.ecp.core.repositories">
      <repository
            description="Default EMFStore"
            provider="org.eclipse.emf.ecp.emfstore.provider">
         <property
               key="repositoryUrl"
               value="localhost">
         </property>
         <property
               key="port"
               value="8080">
         </property>
         <property
               key="certificate"
               value="emfstore test certificate (do not use in production!)">
         </property>
      </repository>
   </extension>

</plugin>
