<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="uiProviders" name="ECP UI Providers" schema="schema/uiProviders.exsd"/>
   <extension-point id="modelElementOpener" name="Modelelement Opener" schema="schema/modelElementOpener.exsd"/>
   <extension-point id="dropAdapter" name="ECP UI DropAdapaters" schema="schema/dropAdapter.exsd"/>
   <extension-point id="modelExplorerSettings" name="ECP Model Explorer Settings" schema="schema/modelExplorerSettings.exsd"/>
   <extension-point id="menuContributionEnablement" name="Menu Contribution Enablement" schema="schema/menuContributionEnablement.exsd"/>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.emf.ecp.internal.ui.tester.ECPMenuContributionsEnablementTester"
            id="org.eclipse.emf.ecp.ui.e3.workbench.menu.properties"
            namespace="org.eclipse.emf.ecp.ui.e3.workbench.menu"
            properties="enablement"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension-point id="labelProvider" name="ECP Label Provider" schema="schema/labelProvider.exsd"/>
	
</plugin>
