<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.ui.modelElementOpener">
      <modelElementOpener
            class="org.eclipse.emf.ecp.explorereditorbridge.internal.EditorModelElementOpener">
         <staticTester
               modelElement="org.eclipse.emf.ecore.EObject"
               priority="1">
         </staticTester>
      </modelElementOpener>
   </extension>

</plugin>
