<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.view.model.fx.renderer">
      <renderer
            renderer="org.eclipse.emf.ecp.view.horizontal.fx.HorizontalLayoutRendererFX">
         <staticTest
               element="org.eclipse.emf.ecp.view.spi.horizontal.model.VHorizontalLayout"
               priority="1">
         </staticTest>
      </renderer>
   </extension>

</plugin>
