<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.edit.controls">
      <control
            class="org.eclipse.emf.ecp.internal.edit.swt.controls.StringControl"
            showLabel="true"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.String">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.internal.edit.swt.controls.DoubleControl"
            showLabel="true"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Double">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.internal.edit.swt.controls.IntegerControl"
            showLabel="true"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Integer">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.internal.edit.swt.controls.BooleanControl"
            showLabel="true"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Boolean">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.internal.edit.swt.controls.DateTimeControl"
            showLabel="true"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.util.Date">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.internal.edit.swt.controls.EEnumControl"
            showLabel="true"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Enum">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.internal.edit.swt.controls.LinkControl"
            showLabel="true"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="org.eclipse.emf.ecore.EObject">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.internal.edit.swt.controls.ReferenceMultiControl"
            showLabel="true"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.internal.edit.swt.controls.ReferenceMultiControlTester">
         </dynamicTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.internal.edit.swt.controls.AttributeMultiControl"
            showLabel="true"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.internal.edit.swt.controls.AttributeMultiControlTester">
         </dynamicTest>
      </control>
   </extension>

</plugin>
