<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="celleditor" name="ECP SWT Table CellEditor" schema="schema/celleditor.exsd"/>
   <extension
         point="org.eclipse.emf.ecp.edit.controls">
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.controls.StringControl"
            id="org.eclipse.emf.ecp.control.swt.string"
            showLabel="true"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.String">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.controls.BooleanControl"
            id="org.eclipse.emf.ecp.control.swt.boolean"
            showLabel="true"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Boolean">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.controls.DateTimeControl"
            id="org.eclipse.emf.ecp.control.swt.dateTime"
            showLabel="true"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.util.Date">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.controls.EEnumControl"
            id="org.eclipse.emf.ecp.control.swt.enum"
            showLabel="true"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Enum">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.controls.LinkControl"
            id="org.eclipse.emf.ecp.control.swt.reference"
            showLabel="true"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="org.eclipse.emf.ecore.EObject">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.controls.ReferenceMultiControl"
            id="org.eclipse.emf.ecp.control.swt.multiReference"
            showLabel="true"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.edit.internal.swt.controls.ReferenceMultiControlTester">
         </dynamicTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.controls.AttributeMultiControl"
            id="org.eclipse.emf.ecp.control.swt.multiAttribute"
            showLabel="true"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.edit.internal.swt.controls.AttributeMultiControlTester">
         </dynamicTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.controls.TableControl"
            id="org.eclipse.emf.ecp.control.swt.table"
            showLabel="false"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="org.eclipse.emf.ecore.EObject">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.controls.XmlDateControl"
            id="org.eclipse.emf.ecp.control.swt.xml.date"
            showLabel="true"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="javax.xml.datatype.XMLGregorianCalendar">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.edit.internal.swt.controls.NumericalControl"
            id="org.eclipse.emf.ecp.control.swt.number"
            showLabel="true"
            supportedCompositeClass="org.eclipse.swt.widgets.Composite">
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.lang.Double">
         </staticTest>
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.lang.Integer">
         </staticTest>
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.math.BigInteger">
         </staticTest>
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.math.BigDecimal">
         </staticTest>
      </control>
   </extension>

</plugin>
